.buffer-top {
    margin-top: 1em;
}
.buffer-bottom {
    margin-bottom: 1em;
}
.buffer-padding {
    padding: 1em;
}
.buffer-right {
    margin-right: 1em;
}
.buffer-left {
    margin-left: 1em;
}
.nowrap {
    white-space: nowrap;
}
.course-updated a {
    cursor: pointer;
    text-decoration: none;
}
.table-classes {
    margin-bottom: 1.4em;
}
.table-classes thead {
    border-bottom: 1px solid #ddd;
}
.table-classes thead th {
    vertical-align: bottom;
}
.table-classes th {
  font-weight: bold;
}

.table-classes tbody {
  border-top: 1px solid #ddd;
}

.table-classes th, .table-classes td {
    padding: 8px;
    border: none;
}

/* Unset bootstrap responsive .table styles */
.table-classes tbody>tr>td, .table-classes thead>tr>th {
    border: none;
}
.table>tbody+tbody {
    border-width: 1px;
}
/* end unset to bootstrap .table styles */

@media (min-width:992px){
    .padding-left-none {
        padding-left: 0;
    }
    .padding-right-none {
        padding-right: 0;
    }
}

/** Classes for nav bar **/
.nav-margin {
    margin-top: 8px;
}

/** Search styles **/
em.keyword
{
	color: black;
	font-style: normal;
	background: #ffa; /* Old browsers */
    background: -moz-linear-gradient(top, #ffa 0%, #ffffdd 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa), color-stop(100%,#ffd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffa 0%, #ffd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffa 0%, #ffd 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffa 0%, #ffd 100%); /* IE10+ */
    background: linear-gradient(top,  #ffa 0%, #ffd 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa', endColorstr='#ffd', GradientType=0 ); /* IE6-9 */
}
/** Reset weird things globals does to bootstrap/default styles **/
ol.breadcrumb li {
    margin-top: 0;
    margin-left: 0;
    padding-left: 0;
}
ul {
    margin-top: 0;
}
ul.dropdown-menu li {
    margin-top: 0;
    margin-left: 0;
    padding-left: 0;
}
h4.panel-title {
    font-size: 1.25em;
}
.panel-body h5 {
    margin-top: 15px;
}
.panel-body>h5:first-of-type {
    margin-top: 0;
}

/** Styles specific to larger screens **/
@media (min-width:768px) {
    .navbar-form {
        padding-left: 0;
    }
}
/** Styles specific to xs screens **/
@media (max-width: 767px) {
    /** Footer links **/
    .classes-links h4 {
        margin-top: 1em;
    }
    .classes-links .col-md-3:first-child h4 {
        margin-top: 0;
    }
}

/** end **/

/** Edit classes **/
#lastModifiedBy
{
	float: right;
	color: #777;
	font-size: .8em;
	margin-right: 10px;
}

.editor-label
{
	font-weight: bold;
}

.editor-field
{
	margin-top: 0;
    margin-bottom: .5em;
}

/* start program edit */
#ProgramEdit .left,
#ProgramEdit .right
{
	width: 100%;
	float: left;
}

#ProgramEdit .subject-text-field
{
	width: 100%;
}

#SectionEdit .subject-text-field
{
	width: 500px;
}

.merged-subject-link
{
	margin-right: 15px;
}

ul.subject-merger {
	padding:2px 2px 4px 2px;
	border:1px solid #C6C6C6;
	overflow:auto;
}
ul.subject-merger li {
	display: block;
	float: left;
	width: 75px;
	padding: 2px 2px 2px 2px;
	margin: 2px 2px 0px 2px;
}
ul.subject-merger li.subject-choice {
	background-color:#DEE7F8;
	border:1px solid #CAD8F3;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding:2px 2px;
	margin-right: 2px;
}
ul.subject-merger li.subject-choice:hover {
	background-color:#bbcef1;
	border-color:#6d95e0;
}
ul.subject-merger li.subject-new {
	padding: 3px;
}

ul.subject-merger select {
	-moz-box-sizing:border-box;
	border:none;
	margin:0;
	padding-top:1px;
	width:68px;
	border-color:#C6C6C6;
	background-color:#FFFFFF;
	color:#333333;
}
ul.subject-merger li.subject-choice span.subject-choice-close
{
	display: inline-block;
	cursor: pointer;
	position: relative;
	top: 2px;
	float: right;
}
/* end program edit */

/** inline editing styles **/
.toggleEditingMode
{
	text-decoration: underline;
	cursor: pointer;
}

.section-details-edit
{ 
    margin-left: 0; padding-left: 20px;
}

/** Search results **/
#classes-search-results .pagination li {
    display: initial;
}

/** Advanced search form **/
.subject-sidenav li {
    margin-left: .5em;
}
#days {
    clear: left;
}
#times div {
    float: left;
}
#times .form-group {
    max-width: 40%;
    margin-bottom: 5px;
}

.daylabel
{
    font-weight: bold;
    /*line-height: 14px;
    margin-left: 3px;*/
    text-align: center;
    color: #003d79;
    margin-right: 7px;
}
.daylabel abbr {cursor: help;}
.weekend { font-weight: normal; color: #666}
.time-separator {
    margin-left: 3px;
    margin-right: 3px;
}
.refine-glyph {
    margin-top: .4em;
    font-size: .7em;
}
.checkbox, .radio {
    margin-top: 3px;
    margin-bottom: 3px;
}
.ui-timepicker-div dt {
    margin-top: -3px;
}

/** Inline editing styles **/
.text-editable {
	display: inline-block;
	min-width: 125px;
	min-height: 15px;
	background-color: #f1f1f1;
	padding: 0 5px;
}
.text-highlight {
	background-color: #ffa;
}
.edit-hover {
	outline: 1px dashed #fdd425;
}

/** Edit form **/
textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
}

/* Refine panel */
.panel-title a {
    display: block;
    text-decoration: none;
}

/** Footer */
.footer-info {
    color: #888;
}

/** Breadcrumb **/
.classes-breadcrumb {
    font-size: .8em;
    color: #888;
}
.classes-breadcrumb ol.breadcrumb {
    background: none;
    margin-bottom: 0;
    padding-left: .5em;
}