<!--
This file is part of CtcClassSchedule.

CtcClassSchedule is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

CtcClassSchedule is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with CtcClassSchedule.  If not, see <http://www.gnu.org/licenses/>.
-->
<!--
    TODO: Make a copy of this file w/o the 'EXAMPLE-' prefix, then fill in the configuration settings appropriate to your organization/environment
  -->
<appSettings>
  <add key="webpages:Version" value="2.0.0.0" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <!-- ELMAH configuration -->
  <add key="elmah.mvc.disableHandler" value="false" />
  <add key="elmah.mvc.disableHandleErrorFilter" value="false" />
  <add key="elmah.mvc.requiresAuthentication" value="false" />
  <add key="elmah.mvc.IgnoreDefaultRoute" value="false" />
  <add key="elmah.mvc.allowedRoles" value="*" />
  <add key="elmah.mvc.allowedUsers" value="*" />
  <add key="elmah.mvc.route" value="elmah" />
  
  <!-- CTC Class Schedule Settings -->
  <add key="currentSchoolUrl" value="" />
  <add key="courseOutcomesUrl" value=""/>
  <add key="collegeCode" value=""/>
  <add key="collegeName" value=""/>
  <add key="IncludeCourseOutcomes" value="true" />
  <add key="Globals_UrlRoot" value="http://path.to/globals"/>
  <add key="Globals_LocalPath" value="~"/>
  <add key="Regex_Time" value="^(?:0?[1-9]:[0-5]|1(?:[012]):[0-5])\d(?:\s?[ap]m)"/>  <!-- 12-hour time w/ am/pm -->
  <add key="LogoutUrl" value=""/>
  
  <!-- CTC Class Schedule roles: A comma-separated list of Active Directory groups ("Roles" in ASP.NET) -->
  <add key="ApplicationDeveloper" value="" />
  <add key="ApplicationAdmin" value="" />
  <add key="ApplicationEditor" value="" />
  
<!-- CTC Class Schedule Caching settings for views in seconds -->
  <add key="IndexCacheTime" value="0"/>
  <add key="AllClassesCacheTime" value="0"/>
  <add key="SubjectCacheTime" value="0"/>
  <add key="YearQuarterCacheTime" value="0"/>
  <add key="YearQuarterSubjectCacheTime" value="0"/>
  <add key="ClassDetailsCacheTime" value="0"/>
  
<!-- CTC ODS API settings -->
  <add key="CourseDescriptionHandler" value="" /> <!-- Fully-qualified class name (w/ namespace) which impelements https://github.com/BellevueCollege/CtcApi/blob/dev/CtcApi.Ods/Customizations/ICourseDescriptionStrategy.cs -->
  <add key="CurrentDateOverride" value=""/>
</appSettings>