<?xml version="1.0"?>
<!--
    TODO: Make a copy of this file w/o the 'EXAMPLE-' prefix, then replace YOUR_CAS_SERVER and APPLICATION_SERVER with your values.
  -->
<casClientConfig casServerLoginUrl="https://YOUR_CAS_SERVER/cas/login" 
                 casServerUrlPrefix="https://YOUR_CAS_SERVER/cas/"
                 serverName="http://APPLICATION_SERVER/classes" 
                 notAuthorizedUrl="~/Home/NotAuthorized" 
                 cookiesRequiredUrl="~/Home/CookiesRequired" 
                 redirectAfterValidation="true" 
                 gateway="false" 
                 renew="false" 
                 singleSignOut="true" 
                 ticketTimeTolerance="5000" 
                 ticketValidatorName="Cas20" 
                 proxyTicketManager="CacheProxyTicketManager" 
                 serviceTicketManager="CacheServiceTicketManager" 
                 gatewayStatusCookieName="CasGatewayStatus"
/>
