<?xml version="1.0"?>
<!-- update entitiyId and returnURL to be valid URLs for application -->
<kentor.authServices entityId="https://localhost/classes/AuthServices" returnUrl="https://localhost/classes/" authenticateRequestSigningBehavior="Always" outboundSigningAlgorithm="SHA256">
  <identityProviders>
    <add entityId="http://adfs.bellevuecollege.edu/adfs/services/trust" signOnUrl="https://adfs.bellevuecollege.edu/adfs/ls" logoutUrl="https://adfs.bellevuecollege.edu/adfs/ls" allowUnsolicitedAuthnResponse="true" binding="HttpRedirect" loadMetadata="true" metadataLocation="https://adfs.bellevuecollege.edu/federationmetadata/2007-06/federationmetadata.xml" />
  </identityProviders>
  <serviceCertificates>
    <!-- Update to use information for finding valid certificate for server classes is on
    The certificate is used to sign the SAML request to the identity provider.
    -->
    <add storeName="" storeLocation="" findValue="" x509FindType="" />
  </serviceCertificates>
</kentor.authServices>