<?xml version="1.0"?>
<!--
  TODO: Make a copy of this file w/o the 'EXAMPLE-' prefix, then configure the appropriate E-mail settings.
  
  For full documentation see
  http://code.google.com/p/elmah/wiki/DotNetSlackersArticle#Configuring_error_notifications
-->
<errorMail  from=""
            to=""
            subject=""
            async="true|false"
            smtpPort="25"
            smtpServer="localhost"
            userName=""
            password=""
/>
