<connectionStrings>
  <add name="OdsContext" connectionString="" providerName="System.Data.SqlClient" />
  <add name="ClassScheduleDb" connectionString="metadata=res://*/Models.ClassScheduleDb.csdl|res://*/Models.ClassScheduleDb.ssdl|res://*/Models.ClassScheduleDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=YOUR_DB_SERVER;initial catalog=ClassSchedule;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	<add name="Elmah.Sql" connectionString=""/>
</connectionStrings>
