<connectionStrings>
  <!--
    TODO: Make a copy of this file w/o the 'EXAMPLE-' prefix, then replace SERVER_NAME and DATABASE_NAME with your values.
    
    For help with Connection Strings, see: http://www.connectionstrings.com/
  -->
  <add name="OdsContext" connectionString="Data Source=SERVER_NAME;Initial Catalog=ODS;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="ClassScheduleDb" connectionString="metadata=res://*/Models.ClassScheduleDb.csdl|res://*/Models.ClassScheduleDb.ssdl|res://*/Models.ClassScheduleDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SERVER_NAME;initial catalog=ClassSchedule;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	<add name="Elmah.Sql" connectionString="Data Source=SERVER_NAME;Initial Catalog=DATABASE_NAME;Integrated Security=True"/>
</connectionStrings>
