@using Ctc.Ods.Types
@model IEnumerable<Ctc.Ods.Types.ICoursePrefix>

@{
    ViewBag.PageTitle = "All Class Descriptions at Bellevue College";
		// TODO: provide a default alphabet if the ViewBag is empty
		IEnumerable<char> alphabet = ViewBag.Alphabet;
}
<div id="scheduleMain">
    @Html.Partial("quarterNavigation")
    <div id="container" class="sidebar">
        <div id="sidebar">
            @Html.Partial("basicFacetedSearch")
        </div> <!-- #sidebar -->

        <div id="content">

		<h1 id="pageTitle">All Credit Classes &amp Descriptions</h1>

	 @Html.Partial("a_to_z", alphabet)
	 @Html.Partial("subjectList", Model)

	</div> <!-- #content -->
    </div> <!-- #container -->
</div>