@{
		ViewBag.Title = "Class";
}

<h2>Art 110 Two-Dimensional Design * 5 CR</h2>
<div id="class-website">
	<a href="/">Program website</a>
</div>

<h3>Description:</h3>
<p class="class_description">
	Introduces the elements and principles of two-dimensional design. Students practice
creative  problem solving through a series of visual compositional exercises
designed to increase students’ understanding of the aesthetic and functional purposes
of design. Includes in-class laboratory/studio work, lecture/discussions, and critique
sessions. Requires additional lab or studio time outside class.
</p>

<h3>Outcomes:</h3>
<p class="class_outcomes">
	<ul>
		<li>To understand the basic elements and principles of two-dimensional design.</li>
		<li>To be introduced to the vocabulary involved in the study of design.</li>
		<li>To learn about some basic media utilized in developing design concepts.</li>
		<li>To understand the aesthetic and functional purposes of design.</li>
		<li>To appreciate the continuous interaction of design and culture through time.</li>
	</ul>
</p>

<div class="class_month">
<h3>Fall 2011</h3>
<h4>ART 110 | Two-Dimensional Design * 5 CR</h4>
<ul class="table_header">
	<li class="col1">item #</li>
	<li class="col2">section</li>
	<li class="col3">instructor</li>
	<li class="col4">day(s)</li>
	<li class="col5">Times</li>
	<li class="col6">room</li>
	<li class="col7">seat availability</li>
</ul>

<ul class="table_row">
	<li class="col1">6560</li>
	<li class="col2">A</li>
	<li class="col3">TBD</li>
	<li class="col4">TTh</li>
	<li class="col5">5:30pm-6:20pm</li>
	<li class="col6">R208</li>
	<li class="col7">23 of 30 (updated 30 mins ago) [update]</li>
</ul>

<ul class="table_row">
	<li class="col1">6562</li>
	<li class="col2">B</li>
	<li class="col3">Rodger Brown</li>
	<li class="col4">TTh</li>
	<li class="col5">2:30pm-3:20pm</li>
	<li class="col6">R209</li>
	<li class="col7">15 of 30 (updated 3 mins ago) [update]</li>
</ul>

<ul class="table_row">
	<li class="col1">6562</li>
	<li class="col2">C</li>
	<li class="col3">TBD</li>
	<li class="col4">TTh</li>
	<li class="col5">9:30am-10:20am</li>
	<li class="col6">R210</li>
	<li class="col7">3 of 30 (updated 14 mins ago) [update]</li>
</ul>


</div>
