<!--
	coin-slider effects:

	width: 565, // width of slider panel
	height: 290, // height of slider panel
	spw: 7, // squares per width
	sph: 5, // squares per height
	delay: 3000, // delay between images in ms
	sDelay: 30, // delay beetwen squares in ms
	opacity: 0.7, // opacity of title and navigation
	titleSpeed: 500, // speed of title appereance in ms
	effect: '', // random, swirl, rain, straight
	navigation: true, // prev next and buttons
	links : true, // show images as links
	hoverPause: true // pause on hover

-->
	<script type="text/javascript">
		$(document).ready(function () {
			$('#games').coinslider({
				effect: 'straight',
				width: 565,
				delay: 6000,
				sDelay: 0,
				spw: 1,
				sph: 1});
		});
</script>

@{
    ViewBag.Title = "Classes at Bellevue College";
}




	@Html.Partial("quarterNavigation")
<div id="front_layout">

	<div id="top">

		<div id="topleft">
			<h2>Browse Credit Classes:</h2>

			<div id="leftpanel_topleft">
				<h4>Choose a quarter:</h4>
				<ul>
					<li><a class="yrq" href="/Classes/Fall2011">Fall 2011</a></li>
					<li><a class="yrq" href="/Classes/Summer2011">Summer 2011</a></li>
					<li><a class="yrq" href="/Classes/Spring2011">Spring 2011</a></li>
				</ul>
			</div>

			<div id="paneldivider_topleft">
				<img src="/Content/images/or_divider.gif" />
			</div>
			<div id="rightpanel_topleft">
				<div id="browse">
					<a href="/Classes/All">Browse all classes with descriptions</a>
				</div>
			</div>
			<div id="bottompanel_topleft">
				You can also <a href="http://bellevuecollege.edu/schedule/print/">Download PDF versions of the credit class schedule</a>
			</div>

		</div>

		<div id="topright">
			<h3>Other classes and workshops:</h3>
			<div id="otherclasses">
				<a href="http://www.campusce.net/BC/Search/Search.aspx">Continuing Education classes (non-credit)</a>
				<p>Continuing Education offeres non-credit classes and you blah blah blah!</p>
				<a class="grey" href="http://www.campusce.net/BC/Search/Search.aspx">Check out their classes</a>
			</div>

			<div id="otherclasses">
				<a href="http://bellevuecollege.edu/careers/sac_classes.html">Career Center classes and workshops</a>
				<p>The Career Center offeres various classes, free workshops and orientations to help you blah blah blah!</p>
				<a class="grey" href="http://bellevuecollege.edu/careers/sac_classes.html">Check out their classes and workshops</a>
			</div>

		</div>


	</div>	<!-- end of #top -->




	<div id="middle">
		<div id="middleleft">

		<div id="games">

				<a href="http://www.psu.com/Soul-Calibur-IV-Hands-on--a003147-p0.php" target="_blank">

					<img height="281" width="500" src="@Url.Content("~/Content/images/coin-slider/sc1.jpg")" alt="sc1.jpg" />
					<span>
						Two stages were on offer, one an outdoor courtyard with Cherry Blossom blowing serenely in the wind, the other an underground lair with an odd tint of green. Both of them were beautifully rendered, if not a little low res.
					</span>
				</a>
				<a href="http://www.psu.com/Soul-Calibur-IV-Hands-on--a003147-p0.php">
					<img height="281" width="500" src="@Url.Content("~/Content/images/coin-slider/sc2.jpg")" alt="sc3.jpg" />
					<span>
						Thoroughly beaten, we agreed to a rematch with different characters. Playing as Mitsurugi ourselves, we notice that our frantic button mashing was not creating some of the combos that Soul Calibur II had allowed.
					</span>

				</a>
				<a href="http://www.psu.com/Soul-Calibur-IV-Hands-on--a003147-p0.php">
					<img height="281" width="500" src="@Url.Content("~/Content/images/coin-slider/sc3.jpg")"  alt="sc3.jpg" />
					<span>
						Soul Calibur is back, and it's ready to take on Street Fighter IV.
					</span>
				</a>

		</div>

			<div id="middleleft_floatright">
				<a class="advertise" href="mailto:webservices@bellevuecollege.edu">How to advertise in this site</a>
			</div>
		</div>


		<div id="middleright">
			<h5>UPCOMING DEADLINES</h5>
			<ul>
				<li>Registration begins XXX</li>
				<li>asdfasdfds asdfds</li>
				<li>aaw45 afs3wra</li>
				<li>asdfaw aa343</li>
				<li>asdfa3w fdsf</li>

			</ul>
		</div>


	</div> <!-- end of #middle -->




</div>