@{
    ViewBag.Title = "AllSubjects";
}

<div id="main">
<h2>@ViewBag.Subject classes for any quarter</h2>
<table title="Class Schedule Results" summary="Search results for Regular University courses in semester Summer 2011" style="margin:0;" cellspacing="0" border="0">
<tbody><tr>
			<th id="crsid">Course ID</th>
<th id="sched" style="width:10%;">Schedule # </th>
<th id="title">Title</th>
<th id="units">Units</th>
						<th id="meet">Meet days &amp; times</th>
						<th id="local">Location</th>

						<th id="fac">Instructor(s)</th>

						<th id="seats">Seats</th>
						<th id="waitlist">Wait list</th>
<th id="textbook">Textbooks</th>
</tr>
<tr>
<td headers="crsid" id="ACCT083101R1" class="nowrap">
<a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1FBAAA&amp;openu=N&amp;CRSADMIN=R">ACCT 831  [01] R1</a></td>
<td headers="ACCT083101R1 sched">01649</td>
 <td headers="ACCT083101R1 title"><a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1FBAAA&amp;openu=N&amp;CRSADMIN=R">Seminar in Financial Reporting</a></td>
 <td headers="ACCT083101R1 units">3</td>
			<td headers="ACCT083101R1 meet" class="nowrap">TTH 1730-2130<br>
			 <span class="dates">06-JUN-11 - 08-JUL-11</span></td>
			<td headers="ACCT083101R1 local"><a href="http://www.sfsu.edu/clickmap/dtc.htm">DTC</a> 557</td>
			<td headers="ACCT083101R1 fac" class="fac_name">
K DANKO
</td>
<td headers="ACCT083101R1 seats"><a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1FBAAA&amp;openu=N&amp;CRSADMIN=R#seats">0</a></td>
<td headers="ACCT083101R1 waitlist">
10
</td>
<td headers="ACCT083101R1 textbook"><a href="http://sfsubookstore.com/catalog/advanced_text_search_result.php?keywords=01649R20113">
	<img src="http://www.sfsu.edu/images/book.gif" width="25" height="23" alt="Book for ACCT 0831 [01] R1"></a></td>
</tr>
<tr>
<td headers="BUS083101R1 crsid" id="footBUS083101R1" class="noborder" colspan="2">
<span class="readernote">notes</span></td><td class="noborder dates" colspan="9" headers="BUS083101R1 footBUS083101R1"><ul>
<li> See University Bulletin or department for concurrent enrollment requirements and/or prerequisites.</li>
<li>  Class meets at the Downtown Campus in the Westfield San Francisco Centre, 835 Market Street.</li>
</ul></td></tr>
<tr>
<td headers="crsid" id="BUS078301R3" class="nowrap">
<a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB0/WAAC&amp;openu=N&amp;CRSADMIN=R">BUS 783  [01] R3</a></td>
<td headers="BUS078301R3 sched">01702</td>
 <td headers="BUS078301R3 title"><a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB0/WAAC&amp;openu=N&amp;CRSADMIN=R">Economics for Managers</a></td>
 <td headers="BUS078301R3 units">3</td>
			<td headers="BUS078301R3 meet" class="nowrap">MW 1730-2130<br>
			 <span class="dates">11-JUL-11 - 12-AUG-11</span></td>
			<td headers="BUS078301R3 local"><a href="http://www.sfsu.edu/clickmap/dtc.htm">DTC</a> 553</td>
			<td headers="BUS078301R3 fac" class="fac_name">
E SORENSEN
</td>
<td headers="BUS078301R3 seats"><a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB0/WAAC&amp;openu=N&amp;CRSADMIN=R#seats">7</a></td>
<td headers="BUS078301R3 waitlist">
0
</td>
<td headers="BUS078301R3 textbook"><a href="http://sfsubookstore.com/catalog/advanced_text_search_result.php?keywords=01702R20113">
	<img src="http://www.sfsu.edu/images/book.gif" width="25" height="23" alt="Book for BUS 0783 [01] R3"></a></td>
</tr>
<tr>
<td headers="BUS078301R3 crsid" id="footBUS078301R3" class="noborder" colspan="2">
<span class="readernote">notes</span></td><td class="noborder dates" colspan="9" headers="BUS078301R3 footBUS078301R3"><ul>
<li> See University Bulletin or department for concurrent enrollment requirements and/or prerequisites.</li>
<li>  Class meets at the Downtown Campus in the Westfield San Francisco Centre, 835 Market Street.</li>
</ul></td></tr>
<tr>
<td headers="crsid" id="BUS078701R1" class="nowrap">
<a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB0/NAAJ&amp;openu=N&amp;CRSADMIN=R">BUS 787  [01] R1</a></td>
<td headers="BUS078701R1 sched">01713</td>
 <td headers="BUS078701R1 title"><a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB0/NAAJ&amp;openu=N&amp;CRSADMIN=R">Marketing Management</a></td>
 <td headers="BUS078701R1 units">3</td>
			<td headers="BUS078701R1 meet" class="nowrap">MW 1730-2130<br>
			 <span class="dates">06-JUN-11 - 08-JUL-11</span></td>
			<td headers="BUS078701R1 local"><a href="http://www.sfsu.edu/clickmap/dtc.htm">DTC</a> 553</td>
			<td headers="BUS078701R1 fac" class="fac_name">
S BHAT
</td>
<td headers="BUS078701R1 seats"><a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB0/NAAJ&amp;openu=N&amp;CRSADMIN=R#seats">6</a></td>
<td headers="BUS078701R1 waitlist">
0
</td>
<td headers="BUS078701R1 textbook"><a href="http://sfsubookstore.com/catalog/advanced_text_search_result.php?keywords=01713R20113">
	<img src="http://www.sfsu.edu/images/book.gif" width="25" height="23" alt="Book for BUS 0787 [01] R1"></a></td>
</tr>
<tr>
<td headers="BUS078701R1 crsid" id="footBUS078701R1" class="noborder" colspan="2">
<span class="readernote">notes</span></td><td class="noborder dates" colspan="9" headers="BUS078701R1 footBUS078701R1"><ul>
<li> See University Bulletin or department for concurrent enrollment requirements and/or prerequisites.</li>
<li>  Class meets at the Downtown Campus in the Westfield San Francisco Centre, 835 Market Street.</li>
</ul></td></tr>
<tr>
<td headers="crsid" id="BUS086701R2" class="nowrap">
<a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1FBAAG&amp;openu=N&amp;CRSADMIN=R">BUS 867  [01] R2</a></td>
<td headers="BUS086701R2 sched">01677</td>
 <td headers="BUS086701R2 title"><a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1FBAAG&amp;openu=N&amp;CRSADMIN=R">Graduate Internship in Business</a></td>
 <td headers="BUS086701R2 units">1</td>
			<td headers="BUS086701R2 meet" class="nowrap">ARR  <br>
			 <span class="dates">20-JUN-11 - 12-AUG-11</span></td>
			<td headers="BUS086701R2 local"><a href="http://www.sfsu.edu/clickmap/sfsumap.htm"></a> </td>
			<td headers="BUS086701R2 fac" class="fac_name">
S FLATT
</td>
<td headers="BUS086701R2 seats"><a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1FBAAG&amp;openu=N&amp;CRSADMIN=R#seats">5</a></td>
<td headers="BUS086701R2 waitlist">
0
</td>
<td headers="BUS086701R2 textbook"><a href="http://sfsubookstore.com/catalog/advanced_text_search_result.php?keywords=01677R20113">
	<img src="http://www.sfsu.edu/images/book.gif" width="25" height="23" alt="Book for BUS 0867 [01] R2"></a></td>
</tr>
<tr>
<td headers="BUS086701R2 crsid" id="footBUS086701R2" class="noborder" colspan="2">
<span class="readernote">notes</span></td><td class="noborder dates" colspan="9" headers="BUS086701R2 footBUS086701R2"><ul>
</ul></td></tr>
<tr>
<td headers="crsid" id="BUS086702R2" class="nowrap">
<a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1FBAAH&amp;openu=N&amp;CRSADMIN=R">BUS 867  [02] R2</a></td>
<td headers="BUS086702R2 sched">*****</td>
 <td headers="BUS086702R2 title"><a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1FBAAH&amp;openu=N&amp;CRSADMIN=R">Graduate Internship in Business</a></td>
 <td headers="BUS086702R2 units">1</td>
			<td headers="BUS086702R2 meet" class="nowrap">ARR  <br>
			 <span class="dates">20-JUN-11 - 12-AUG-11</span></td>
			<td headers="BUS086702R2 local"><a href="http://www.sfsu.edu/clickmap/sfsumap.htm"></a> </td>
			<td headers="BUS086702R2 fac" class="fac_name">

</td>
<td headers="BUS086702R2 seats"><a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1FBAAH&amp;openu=N&amp;CRSADMIN=R#seats">1</a></td>
<td headers="BUS086702R2 waitlist">
0
</td>

</tr>
<tr>
<td headers="BUS086702R2 crsid" id="footBUS086702R2" class="noborder" colspan="2">
<span class="readernote">notes</span></td><td class="noborder dates" colspan="9" headers="BUS086702R2 footBUS086702R2"><ul>
</ul></td></tr>
<tr>
<td headers="crsid" id="BUS086703R2" class="nowrap">
<a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1FBAAI&amp;openu=N&amp;CRSADMIN=R">BUS 867  [03] R2</a></td>
<td headers="BUS086703R2 sched">*****</td>
 <td headers="BUS086703R2 title"><a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1FBAAI&amp;openu=N&amp;CRSADMIN=R">Graduate Internship in Business</a></td>
 <td headers="BUS086703R2 units">1</td>
			<td headers="BUS086703R2 meet" class="nowrap">ARR  <br>
			 <span class="dates">20-JUN-11 - 12-AUG-11</span></td>
			<td headers="BUS086703R2 local"><a href="http://www.sfsu.edu/clickmap/sfsumap.htm"></a> </td>
			<td headers="BUS086703R2 fac" class="fac_name">

</td>
<td headers="BUS086703R2 seats"><a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1FBAAI&amp;openu=N&amp;CRSADMIN=R#seats">5</a></td>
<td headers="BUS086703R2 waitlist">
0
</td>

</tr>
<tr>
<td headers="BUS086703R2 crsid" id="footBUS086703R2" class="noborder" colspan="2">
<span class="readernote">notes</span></td><td class="noborder dates" colspan="9" headers="BUS086703R2 footBUS086703R2"><ul>
</ul></td></tr>
<tr>
<td headers="crsid" id="BUS089501R2" class="nowrap">
<a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1FBAAJ&amp;openu=N&amp;CRSADMIN=R">BUS 895  [01] R2</a></td>
<td headers="BUS089501R2 sched">01651</td>
 <td headers="BUS089501R2 title"><a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1FBAAJ&amp;openu=N&amp;CRSADMIN=R">Research Project in Business</a></td>
 <td headers="BUS089501R2 units">3</td>
			<td headers="BUS089501R2 meet" class="nowrap">ARR  <br>
			 <span class="dates">20-JUN-11 - 12-AUG-11</span></td>
			<td headers="BUS089501R2 local"><a href="http://www.sfsu.edu/clickmap/sfsumap.htm"></a> </td>
			<td headers="BUS089501R2 fac" class="fac_name">

</td>
<td headers="BUS089501R2 seats"><a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1FBAAJ&amp;openu=N&amp;CRSADMIN=R#seats">5</a></td>
<td headers="BUS089501R2 waitlist">
0
</td>
<td headers="BUS089501R2 textbook"><a href="http://sfsubookstore.com/catalog/advanced_text_search_result.php?keywords=01651R20113">
	<img src="http://www.sfsu.edu/images/book.gif" width="25" height="23" alt="Book for BUS 0895 [01] R2"></a></td>
</tr>
<tr>
<td headers="BUS089501R2 crsid" id="footBUS089501R2" class="noborder" colspan="2">
<span class="readernote">notes</span></td><td class="noborder dates" colspan="9" headers="BUS089501R2 footBUS089501R2"><ul>
</ul></td></tr>
<tr>
<td headers="crsid" id="BUS089502R2" class="nowrap">
<a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1FBAAK&amp;openu=N&amp;CRSADMIN=R">BUS 895  [02] R2</a></td>
<td headers="BUS089502R2 sched">01652</td>
 <td headers="BUS089502R2 title"><a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1FBAAK&amp;openu=N&amp;CRSADMIN=R">Research Project in Business</a></td>
 <td headers="BUS089502R2 units">3</td>
			<td headers="BUS089502R2 meet" class="nowrap">ARR  <br>
			 <span class="dates">20-JUN-11 - 12-AUG-11</span></td>
			<td headers="BUS089502R2 local"><a href="http://www.sfsu.edu/clickmap/sfsumap.htm"></a> </td>
			<td headers="BUS089502R2 fac" class="fac_name">

</td>
<td headers="BUS089502R2 seats"><a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1FBAAK&amp;openu=N&amp;CRSADMIN=R#seats">5</a></td>
<td headers="BUS089502R2 waitlist">
0
</td>
<td headers="BUS089502R2 textbook"><a href="http://sfsubookstore.com/catalog/advanced_text_search_result.php?keywords=01652R20113">
	<img src="http://www.sfsu.edu/images/book.gif" width="25" height="23" alt="Book for BUS 0895 [02] R2"></a></td>
</tr>
<tr>
<td headers="BUS089502R2 crsid" id="footBUS089502R2" class="noborder" colspan="2">
<span class="readernote">notes</span></td><td class="noborder dates" colspan="9" headers="BUS089502R2 footBUS089502R2"><ul>
</ul></td></tr>
<tr>
<td headers="crsid" id="BUS089503R2" class="nowrap">
<a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1FBAAL&amp;openu=N&amp;CRSADMIN=R">BUS 895  [03] R2</a></td>
<td headers="BUS089503R2 sched">01653</td>
 <td headers="BUS089503R2 title"><a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1FBAAL&amp;openu=N&amp;CRSADMIN=R">Research Project in Business</a></td>
 <td headers="BUS089503R2 units">3</td>
			<td headers="BUS089503R2 meet" class="nowrap">ARR  <br>
			 <span class="dates">20-JUN-11 - 12-AUG-11</span></td>
			<td headers="BUS089503R2 local"><a href="http://www.sfsu.edu/clickmap/sfsumap.htm"></a> </td>
			<td headers="BUS089503R2 fac" class="fac_name">

</td>
<td headers="BUS089503R2 seats"><a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1FBAAL&amp;openu=N&amp;CRSADMIN=R#seats">5</a></td>
<td headers="BUS089503R2 waitlist">
0
</td>
<td headers="BUS089503R2 textbook"><a href="http://sfsubookstore.com/catalog/advanced_text_search_result.php?keywords=01653R20113">
	<img src="http://www.sfsu.edu/images/book.gif" width="25" height="23" alt="Book for BUS 0895 [03] R2"></a></td>
</tr>
<tr>
<td headers="BUS089503R2 crsid" id="footBUS089503R2" class="noborder" colspan="2">
<span class="readernote">notes</span></td><td class="noborder dates" colspan="9" headers="BUS089503R2 footBUS089503R2"><ul>
</ul></td></tr>
<tr>
<td headers="crsid" id="BUS089504R2" class="nowrap">
<a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1FBAAM&amp;openu=N&amp;CRSADMIN=R">BUS 895  [04] R2</a></td>
<td headers="BUS089504R2 sched">01654</td>
 <td headers="BUS089504R2 title"><a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1FBAAM&amp;openu=N&amp;CRSADMIN=R">Research Project in Business</a></td>
 <td headers="BUS089504R2 units">3</td>
			<td headers="BUS089504R2 meet" class="nowrap">ARR  <br>
			 <span class="dates">20-JUN-11 - 12-AUG-11</span></td>
			<td headers="BUS089504R2 local"><a href="http://www.sfsu.edu/clickmap/sfsumap.htm"></a> </td>
			<td headers="BUS089504R2 fac" class="fac_name">

</td>
<td headers="BUS089504R2 seats"><a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1FBAAM&amp;openu=N&amp;CRSADMIN=R#seats">5</a></td>
<td headers="BUS089504R2 waitlist">
0
</td>
<td headers="BUS089504R2 textbook"><a href="http://sfsubookstore.com/catalog/advanced_text_search_result.php?keywords=01654R20113">
	<img src="http://www.sfsu.edu/images/book.gif" width="25" height="23" alt="Book for BUS 0895 [04] R2"></a></td>
</tr>
<tr>
<td headers="BUS089504R2 crsid" id="footBUS089504R2" class="noborder" colspan="2">
<span class="readernote">notes</span></td><td class="noborder dates" colspan="9" headers="BUS089504R2 footBUS089504R2"><ul>
</ul></td></tr>
<tr>
<td headers="crsid" id="BUS089505R2" class="nowrap">
<a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1FBAAN&amp;openu=N&amp;CRSADMIN=R">BUS 895  [05] R2</a></td>
<td headers="BUS089505R2 sched">01655</td>
 <td headers="BUS089505R2 title"><a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1FBAAN&amp;openu=N&amp;CRSADMIN=R">Research Project in Business</a></td>
 <td headers="BUS089505R2 units">3</td>
			<td headers="BUS089505R2 meet" class="nowrap">ARR  <br>
			 <span class="dates">20-JUN-11 - 12-AUG-11</span></td>
			<td headers="BUS089505R2 local"><a href="http://www.sfsu.edu/clickmap/sfsumap.htm"></a> </td>
			<td headers="BUS089505R2 fac" class="fac_name">

</td>
<td headers="BUS089505R2 seats"><a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1FBAAN&amp;openu=N&amp;CRSADMIN=R#seats">5</a></td>
<td headers="BUS089505R2 waitlist">
0
</td>
<td headers="BUS089505R2 textbook"><a href="http://sfsubookstore.com/catalog/advanced_text_search_result.php?keywords=01655R20113">
	<img src="http://www.sfsu.edu/images/book.gif" width="25" height="23" alt="Book for BUS 0895 [05] R2"></a></td>
</tr>
<tr>
<td headers="BUS089505R2 crsid" id="footBUS089505R2" class="noborder" colspan="2">
<span class="readernote">notes</span></td><td class="noborder dates" colspan="9" headers="BUS089505R2 footBUS089505R2"><ul>
</ul></td></tr>
<tr>
<td headers="crsid" id="BUS089506R2" class="nowrap">
<a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1FBAAO&amp;openu=N&amp;CRSADMIN=R">BUS 895  [06] R2</a></td>
<td headers="BUS089506R2 sched">01656</td>
 <td headers="BUS089506R2 title"><a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1FBAAO&amp;openu=N&amp;CRSADMIN=R">Research Project in Business</a></td>
 <td headers="BUS089506R2 units">3</td>
			<td headers="BUS089506R2 meet" class="nowrap">ARR  <br>
			 <span class="dates">20-JUN-11 - 12-AUG-11</span></td>
			<td headers="BUS089506R2 local"><a href="http://www.sfsu.edu/clickmap/sfsumap.htm"></a> </td>
			<td headers="BUS089506R2 fac" class="fac_name">

</td>
<td headers="BUS089506R2 seats"><a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1FBAAO&amp;openu=N&amp;CRSADMIN=R#seats">5</a></td>
<td headers="BUS089506R2 waitlist">
0
</td>
<td headers="BUS089506R2 textbook"><a href="http://sfsubookstore.com/catalog/advanced_text_search_result.php?keywords=01656R20113">
	<img src="http://www.sfsu.edu/images/book.gif" width="25" height="23" alt="Book for BUS 0895 [06] R2"></a></td>
</tr>
<tr>
<td headers="BUS089506R2 crsid" id="footBUS089506R2" class="noborder" colspan="2">
<span class="readernote">notes</span></td><td class="noborder dates" colspan="9" headers="BUS089506R2 footBUS089506R2"><ul>
</ul></td></tr>
<tr>
<td headers="crsid" id="BUS089801R2" class="nowrap">
<a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1FBAAW&amp;openu=N&amp;CRSADMIN=R">BUS 898  [01] R2</a></td>
<td headers="BUS089801R2 sched">01657</td>
 <td headers="BUS089801R2 title"><a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1FBAAW&amp;openu=N&amp;CRSADMIN=R">Master's Thesis</a></td>
 <td headers="BUS089801R2 units">3</td>
			<td headers="BUS089801R2 meet" class="nowrap">ARR  <br>
			 <span class="dates">20-JUN-11 - 12-AUG-11</span></td>
			<td headers="BUS089801R2 local"><a href="http://www.sfsu.edu/clickmap/sfsumap.htm"></a> </td>
			<td headers="BUS089801R2 fac" class="fac_name">

</td>
<td headers="BUS089801R2 seats"><a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1FBAAW&amp;openu=N&amp;CRSADMIN=R#seats">5</a></td>
<td headers="BUS089801R2 waitlist">
0
</td>
<td headers="BUS089801R2 textbook"><a href="http://sfsubookstore.com/catalog/advanced_text_search_result.php?keywords=01657R20113">
	<img src="http://www.sfsu.edu/images/book.gif" width="25" height="23" alt="Book for BUS 0898 [01] R2"></a></td>
</tr>
<tr>
<td headers="BUS089801R2 crsid" id="footBUS089801R2" class="noborder" colspan="2">
<span class="readernote">notes</span></td><td class="noborder dates" colspan="9" headers="BUS089801R2 footBUS089801R2"><ul>
</ul></td></tr>
<tr>
<td headers="crsid" id="BUS089802R2" class="nowrap">
<a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAADQ1aAAY&amp;openu=N&amp;CRSADMIN=R">BUS 898  [02] R2</a></td>
<td headers="BUS089802R2 sched">01658</td>
 <td headers="BUS089802R2 title"><a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAADQ1aAAY&amp;openu=N&amp;CRSADMIN=R">Master's Thesis</a></td>
 <td headers="BUS089802R2 units">3</td>
			<td headers="BUS089802R2 meet" class="nowrap">ARR  <br>
			 <span class="dates">20-JUN-11 - 12-AUG-11</span></td>
			<td headers="BUS089802R2 local"><a href="http://www.sfsu.edu/clickmap/sfsumap.htm"></a> </td>
			<td headers="BUS089802R2 fac" class="fac_name">

</td>
<td headers="BUS089802R2 seats"><a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAADQ1aAAY&amp;openu=N&amp;CRSADMIN=R#seats">5</a></td>
<td headers="BUS089802R2 waitlist">
0
</td>
<td headers="BUS089802R2 textbook"><a href="http://sfsubookstore.com/catalog/advanced_text_search_result.php?keywords=01658R20113">
	<img src="http://www.sfsu.edu/images/book.gif" width="25" height="23" alt="Book for BUS 0898 [02] R2"></a></td>
</tr>
<tr>
<td headers="BUS089802R2 crsid" id="footBUS089802R2" class="noborder" colspan="2">
<span class="readernote">notes</span></td><td class="noborder dates" colspan="9" headers="BUS089802R2 footBUS089802R2"><ul>
</ul></td></tr>
<tr>
<td headers="crsid" id="BUS089803R2" class="nowrap">
<a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1FBAAY&amp;openu=N&amp;CRSADMIN=R">BUS 898  [03] R2</a></td>
<td headers="BUS089803R2 sched">01659</td>
 <td headers="BUS089803R2 title"><a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1FBAAY&amp;openu=N&amp;CRSADMIN=R">Master's Thesis</a></td>
 <td headers="BUS089803R2 units">3</td>
			<td headers="BUS089803R2 meet" class="nowrap">ARR  <br>
			 <span class="dates">20-JUN-11 - 12-AUG-11</span></td>
			<td headers="BUS089803R2 local"><a href="http://www.sfsu.edu/clickmap/sfsumap.htm"></a> </td>
			<td headers="BUS089803R2 fac" class="fac_name">

</td>
<td headers="BUS089803R2 seats"><a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1FBAAY&amp;openu=N&amp;CRSADMIN=R#seats">5</a></td>
<td headers="BUS089803R2 waitlist">
0
</td>
<td headers="BUS089803R2 textbook"><a href="http://sfsubookstore.com/catalog/advanced_text_search_result.php?keywords=01659R20113">
	<img src="http://www.sfsu.edu/images/book.gif" width="25" height="23" alt="Book for BUS 0898 [03] R2"></a></td>
</tr>
<tr>
<td headers="BUS089803R2 crsid" id="footBUS089803R2" class="noborder" colspan="2">
<span class="readernote">notes</span></td><td class="noborder dates" colspan="9" headers="BUS089803R2 footBUS089803R2"><ul>
</ul></td></tr>
<tr>
<td headers="crsid" id="BUS089804R2" class="nowrap">
<a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1FBAAZ&amp;openu=N&amp;CRSADMIN=R">BUS 898  [04] R2</a></td>
<td headers="BUS089804R2 sched">01660</td>
 <td headers="BUS089804R2 title"><a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1FBAAZ&amp;openu=N&amp;CRSADMIN=R">Master's Thesis</a></td>
 <td headers="BUS089804R2 units">3</td>
			<td headers="BUS089804R2 meet" class="nowrap">ARR  <br>
			 <span class="dates">20-JUN-11 - 12-AUG-11</span></td>
			<td headers="BUS089804R2 local"><a href="http://www.sfsu.edu/clickmap/sfsumap.htm"></a> </td>
			<td headers="BUS089804R2 fac" class="fac_name">

</td>
<td headers="BUS089804R2 seats"><a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1FBAAZ&amp;openu=N&amp;CRSADMIN=R#seats">5</a></td>
<td headers="BUS089804R2 waitlist">
0
</td>
<td headers="BUS089804R2 textbook"><a href="http://sfsubookstore.com/catalog/advanced_text_search_result.php?keywords=01660R20113">
	<img src="http://www.sfsu.edu/images/book.gif" width="25" height="23" alt="Book for BUS 0898 [04] R2"></a></td>
</tr>
<tr>
<td headers="BUS089804R2 crsid" id="footBUS089804R2" class="noborder" colspan="2">
<span class="readernote">notes</span></td><td class="noborder dates" colspan="9" headers="BUS089804R2 footBUS089804R2"><ul>
</ul></td></tr>
<tr>
<td headers="crsid" id="BUS089901R2" class="nowrap">
<a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1FBAAa&amp;openu=N&amp;CRSADMIN=R">BUS 899  [01] R2</a></td>
<td headers="BUS089901R2 sched">01680</td>
 <td headers="BUS089901R2 title"><a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1FBAAa&amp;openu=N&amp;CRSADMIN=R">Special Study</a></td>
 <td headers="BUS089901R2 units">3</td>
			<td headers="BUS089901R2 meet" class="nowrap">ARR  <br>
			 <span class="dates">20-JUN-11 - 12-AUG-11</span></td>
			<td headers="BUS089901R2 local"><a href="http://www.sfsu.edu/clickmap/sfsumap.htm"></a> </td>
			<td headers="BUS089901R2 fac" class="fac_name">
S SENGUPTA
</td>
<td headers="BUS089901R2 seats"><a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1FBAAa&amp;openu=N&amp;CRSADMIN=R#seats">4</a></td>
<td headers="BUS089901R2 waitlist">
0
</td>
<td headers="BUS089901R2 textbook"><a href="http://sfsubookstore.com/catalog/advanced_text_search_result.php?keywords=01680R20113">
	<img src="http://www.sfsu.edu/images/book.gif" width="25" height="23" alt="Book for BUS 0899 [01] R2"></a></td>
</tr>
<tr>
<td headers="BUS089901R2 crsid" id="footBUS089901R2" class="noborder" colspan="2">
<span class="readernote">notes</span></td><td class="noborder dates" colspan="9" headers="BUS089901R2 footBUS089901R2"><ul>
</ul></td></tr>
<tr>
<td headers="crsid" id="BUS089902R2" class="nowrap">
<a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1FBAAb&amp;openu=N&amp;CRSADMIN=R">BUS 899  [02] R2</a></td>
<td headers="BUS089902R2 sched">01681</td>
 <td headers="BUS089902R2 title"><a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1FBAAb&amp;openu=N&amp;CRSADMIN=R">Special Study</a></td>
 <td headers="BUS089902R2 units">3</td>
			<td headers="BUS089902R2 meet" class="nowrap">ARR  <br>
			 <span class="dates">20-JUN-11 - 12-AUG-11</span></td>
			<td headers="BUS089902R2 local"><a href="http://www.sfsu.edu/clickmap/sfsumap.htm"></a> </td>
			<td headers="BUS089902R2 fac" class="fac_name">
S BHAT
</td>
<td headers="BUS089902R2 seats"><a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1FBAAb&amp;openu=N&amp;CRSADMIN=R#seats">4</a></td>
<td headers="BUS089902R2 waitlist">
0
</td>
<td headers="BUS089902R2 textbook"><a href="http://sfsubookstore.com/catalog/advanced_text_search_result.php?keywords=01681R20113">
	<img src="http://www.sfsu.edu/images/book.gif" width="25" height="23" alt="Book for BUS 0899 [02] R2"></a></td>
</tr>
<tr>
<td headers="BUS089902R2 crsid" id="footBUS089902R2" class="noborder" colspan="2">
<span class="readernote">notes</span></td><td class="noborder dates" colspan="9" headers="BUS089902R2 footBUS089902R2"><ul>
</ul></td></tr>
<tr>
<td headers="crsid" id="BUS089903R1" class="nowrap">
<a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1FBAAc&amp;openu=N&amp;CRSADMIN=R">BUS 899  [03] R1</a></td>
<td headers="BUS089903R1 sched">01682</td>
 <td headers="BUS089903R1 title"><a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1FBAAc&amp;openu=N&amp;CRSADMIN=R">Special Study</a></td>
 <td headers="BUS089903R1 units">1</td>
			<td headers="BUS089903R1 meet" class="nowrap">ARR  <br>
			 <span class="dates">06-JUN-11 - 08-JUL-11</span></td>
			<td headers="BUS089903R1 local"><a href="http://www.sfsu.edu/clickmap/sfsumap.htm"></a> </td>
			<td headers="BUS089903R1 fac" class="fac_name">
Y WONG
</td>
<td headers="BUS089903R1 seats"><a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1FBAAc&amp;openu=N&amp;CRSADMIN=R#seats">4</a></td>
<td headers="BUS089903R1 waitlist">
0
</td>
<td headers="BUS089903R1 textbook"><a href="http://sfsubookstore.com/catalog/advanced_text_search_result.php?keywords=01682R20113">
	<img src="http://www.sfsu.edu/images/book.gif" width="25" height="23" alt="Book for BUS 0899 [03] R1"></a></td>
</tr>
<tr>
<td headers="ECON089903R1 crsid" id="footECON089903R1" class="noborder" colspan="2">
<span class="readernote">notes</span></td><td class="noborder dates" colspan="9" headers="ECON089903R1 footECON089903R1"><ul>
</ul></td></tr>
<tr>
<td headers="crsid" id="ECON072501R3" class="nowrap">
<a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1AfAAG&amp;openu=N&amp;CRSADMIN=R">ECON 725  [01] R3</a></td>
<td headers="ECON072501R3 sched">01647</td>
 <td headers="ECON072501R3 title"><a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1AfAAG&amp;openu=N&amp;CRSADMIN=R">Applied Data Analysis in Economics</a></td>
 <td headers="ECON072501R3 units">3</td>
			<td headers="ECON072501R3 meet" class="nowrap">DAILY 0900-1030<br>
			 <span class="dates">11-JUL-11 - 12-AUG-11</span></td>
			<td headers="ECON072501R3 local"><a href="http://www.sfsu.edu/clickmap/hss.htm">HSS</a> 147</td>
			<td headers="ECON072501R3 fac" class="fac_name">
K NEFF
</td>
<td headers="ECON072501R3 seats"><a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1AfAAG&amp;openu=N&amp;CRSADMIN=R#seats">20</a></td>
<td headers="ECON072501R3 waitlist">
3
</td>
<td headers="ECON072501R3 textbook"><a href="http://sfsubookstore.com/catalog/advanced_text_search_result.php?keywords=01647R20113">
	<img src="http://www.sfsu.edu/images/book.gif" width="25" height="23" alt="Book for ECON 0725 [01] R3"></a></td>
</tr>
<tr>
<td headers="EDDL072501R3 crsid" id="footEDDL072501R3" class="noborder" colspan="2">
<span class="readernote">notes</span></td><td class="noborder dates" colspan="9" headers="EDDL072501R3 footEDDL072501R3"><ul>
<li> Plus three hours to be arranged.</li>
</ul></td></tr>
<tr>
<td headers="crsid" id="EDDL091101R2" class="nowrap">
<a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1FBAAd&amp;openu=N&amp;CRSADMIN=R">EDDL 911  [01] R2</a></td>
<td headers="EDDL091101R2 sched">01661</td>
 <td headers="EDDL091101R2 title"><a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1FBAAd&amp;openu=N&amp;CRSADMIN=R">Organizational Behavior, Change, and Systemic Reform</a></td>
 <td headers="EDDL091101R2 units">3</td>
			<td headers="EDDL091101R2 meet" class="nowrap">ARR  <br>
			 <span class="dates">20-JUN-11 - 12-AUG-11</span></td>
			<td headers="EDDL091101R2 local"><a href="http://www.sfsu.edu/clickmap/sfsumap.htm"></a> </td>
			<td headers="EDDL091101R2 fac" class="fac_name">
R PURSER
</td>
<td headers="EDDL091101R2 seats"><a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1FBAAd&amp;openu=N&amp;CRSADMIN=R#seats">9</a></td>
<td headers="EDDL091101R2 waitlist">
0
</td>
<td headers="EDDL091101R2 textbook"><a href="http://sfsubookstore.com/catalog/advanced_text_search_result.php?keywords=01661R20113">
	<img src="http://www.sfsu.edu/images/book.gif" width="25" height="23" alt="Book for EDDL 0911 [01] R2"></a></td>
</tr>
<tr>
<td headers="EDDL091101R2 crsid" id="footEDDL091101R2" class="noborder" colspan="2">
<span class="readernote">notes</span></td><td class="noborder dates" colspan="9" headers="EDDL091101R2 footEDDL091101R2"><ul>
<li> Plus two hours to be arranged.</li>
<li>  See University Bulletin or department for concurrent enrollment requirements and/or prerequisites.</li>
<li>  Weekend class:  check class listing for meeting times and days.  If not indicated, refer to other footnotes for scheduling information.</li>
<li>  Cohort 2010 Classes will meet from 0900-1730 on Sunday, 6/26, 7/10, 7/17 and 7/24 in BH 408. 2 hours TBA.</li>
</ul></td></tr>
<tr>
<td headers="crsid" id="EDDL094101R2" class="nowrap">
<a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1A2AAA&amp;openu=N&amp;CRSADMIN=R">EDDL 941  [01] R2</a></td>
<td headers="EDDL094101R2 sched">01662</td>
 <td headers="EDDL094101R2 title"><a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1A2AAA&amp;openu=N&amp;CRSADMIN=R">Accountability and Performance of Educational Organizations</a></td>
 <td headers="EDDL094101R2 units">3</td>
			<td headers="EDDL094101R2 meet" class="nowrap">ARR  <br>
			 <span class="dates">20-JUN-11 - 12-AUG-11</span></td>
			<td headers="EDDL094101R2 local"><a href="http://www.sfsu.edu/clickmap/sfsumap.htm"></a> </td>
			<td headers="EDDL094101R2 fac" class="fac_name">
S GEN
</td>
<td headers="EDDL094101R2 seats"><a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1A2AAA&amp;openu=N&amp;CRSADMIN=R#seats">14</a></td>
<td headers="EDDL094101R2 waitlist">
0
</td>
<td headers="EDDL094101R2 textbook"><a href="http://sfsubookstore.com/catalog/advanced_text_search_result.php?keywords=01662R20113">
	<img src="http://www.sfsu.edu/images/book.gif" width="25" height="23" alt="Book for EDDL 0941 [01] R2"></a></td>
</tr>
<tr>
<td headers="EDDL094101R2 crsid" id="footEDDL094101R2" class="noborder" colspan="2">
<span class="readernote">notes</span></td><td class="noborder dates" colspan="9" headers="EDDL094101R2 footEDDL094101R2"><ul>
<li> Plus two hours to be arranged.</li>
<li>  See University Bulletin or department for concurrent enrollment requirements and/or prerequisites.</li>
<li>  Weekend class:  check class listing for meeting times and days.  If not indicated, refer to other footnotes for scheduling information.</li>
<li>  Cohort 2010 Classes will meet from 0900-1730 on Saturday, 6/25, 7/9, 7/16 and 7/23 in BH 408.  2 hours TBA.</li>
</ul></td></tr>
<tr>
<td headers="crsid" id="EDDL094501R2" class="nowrap">
<a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1FBAAg&amp;openu=N&amp;CRSADMIN=R">EDDL 945  [01] R2</a></td>
<td headers="EDDL094501R2 sched">01663</td>
 <td headers="EDDL094501R2 title"><a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1FBAAg&amp;openu=N&amp;CRSADMIN=R">Communication Techniques &amp; Strategies in Educational Leadership</a></td>
 <td headers="EDDL094501R2 units">3</td>
			<td headers="EDDL094501R2 meet" class="nowrap">ARR  <br>
			 <span class="dates">20-JUN-11 - 12-AUG-11</span></td>
			<td headers="EDDL094501R2 local"><a href="http://www.sfsu.edu/clickmap/sfsumap.htm"></a> </td>
			<td headers="EDDL094501R2 fac" class="fac_name">
G MERRIGAN
</td>
<td headers="EDDL094501R2 seats"><a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1FBAAg&amp;openu=N&amp;CRSADMIN=R#seats">15</a></td>
<td headers="EDDL094501R2 waitlist">
0
</td>
<td headers="EDDL094501R2 textbook"><a href="http://sfsubookstore.com/catalog/advanced_text_search_result.php?keywords=01663R20113">
	<img src="http://www.sfsu.edu/images/book.gif" width="25" height="23" alt="Book for EDDL 0945 [01] R2"></a></td>
</tr>
<tr>
<td headers="EDDL094501R2 crsid" id="footEDDL094501R2" class="noborder" colspan="2">
<span class="readernote">notes</span></td><td class="noborder dates" colspan="9" headers="EDDL094501R2 footEDDL094501R2"><ul>
<li> Plus two hours to be arranged.</li>
<li>  See University Bulletin or department for concurrent enrollment requirements and/or prerequisites.</li>
<li>  Cohort 2009 Classes will meet from 0900-1730 on Friday, 6/24, 7/8, 7/15, and 7/22 in HUM 114. 2 hours TBA</li>
</ul></td></tr>
<tr>
<td headers="crsid" id="EDDL095201R2" class="nowrap">
<a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1FBAAh&amp;openu=N&amp;CRSADMIN=R">EDDL 952  [01] R2</a></td>
<td headers="EDDL095201R2 sched">01664</td>
 <td headers="EDDL095201R2 title"><a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1FBAAh&amp;openu=N&amp;CRSADMIN=R">Field-Based Residency in Educational Leadership</a></td>
 <td headers="EDDL095201R2 units">3</td>
			<td headers="EDDL095201R2 meet" class="nowrap">ARR  <br>
			 <span class="dates">20-JUN-11 - 12-AUG-11</span></td>
			<td headers="EDDL095201R2 local"><a href="http://www.sfsu.edu/clickmap/sfsumap.htm"></a> </td>
			<td headers="EDDL095201R2 fac" class="fac_name">
R GABRINER
</td>
<td headers="EDDL095201R2 seats"><a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1FBAAh&amp;openu=N&amp;CRSADMIN=R#seats">10</a></td>
<td headers="EDDL095201R2 waitlist">
0
</td>
<td headers="EDDL095201R2 textbook"><a href="http://sfsubookstore.com/catalog/advanced_text_search_result.php?keywords=01664R20113">
	<img src="http://www.sfsu.edu/images/book.gif" width="25" height="23" alt="Book for EDDL 0952 [01] R2"></a></td>
</tr>
<tr>
<td headers="EDDL095201R2 crsid" id="footEDDL095201R2" class="noborder" colspan="2">
<span class="readernote">notes</span></td><td class="noborder dates" colspan="9" headers="EDDL095201R2 footEDDL095201R2"><ul>
<li> Plus four hours to be arranged.</li>
<li>  See University Bulletin or department for concurrent enrollment requirements and/or prerequisites.</li>
<li>  Weekend class:  check class listing for meeting times and days.  If not indicated, refer to other footnotes for scheduling information.</li>
</ul></td></tr>
<tr>
<td headers="crsid" id="EDDL096301R2" class="nowrap">
<a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAADQ0sAAH&amp;openu=N&amp;CRSADMIN=R">EDDL 963  [01] R2</a></td>
<td headers="EDDL096301R2 sched">01665</td>
 <td headers="EDDL096301R2 title"><a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAADQ0sAAH&amp;openu=N&amp;CRSADMIN=R">Seminar: Linking Theory with Practice</a></td>
 <td headers="EDDL096301R2 units">3</td>
			<td headers="EDDL096301R2 meet" class="nowrap">ARR  <br>
			 <span class="dates">20-JUN-11 - 12-AUG-11</span></td>
			<td headers="EDDL096301R2 local"><a href="http://www.sfsu.edu/clickmap/sfsumap.htm"></a> </td>
			<td headers="EDDL096301R2 fac" class="fac_name">
R GABRINER
</td>
<td headers="EDDL096301R2 seats"><a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAADQ0sAAH&amp;openu=N&amp;CRSADMIN=R#seats">14</a></td>
<td headers="EDDL096301R2 waitlist">
0
</td>
<td headers="EDDL096301R2 textbook"><a href="http://sfsubookstore.com/catalog/advanced_text_search_result.php?keywords=01665R20113">
	<img src="http://www.sfsu.edu/images/book.gif" width="25" height="23" alt="Book for EDDL 0963 [01] R2"></a></td>
</tr>
<tr>
<td class="noborder" headers="EDDL096301R2 crsid" colspan="4"> </td>
<td class="noborder nowrap" headers="EDDL096301R2 meet">ARR   <br> <span class="dates"> 20-JUN-11 - 12-AUG-11</span></td>

													<td class="noborder " headers="EDDL096301R2 local">
													<a href="http://www.sfsu.edu/clickmap/sfsumap.htm"></a> </td>
													<td class="noborder fac_name" headers="EDDL096301R2 fac">
N BADWAY
</td>

													<td colspan="3" class="noborder"> </td>
</tr>
<tr>
<td headers="EDDL096301R2 crsid" id="footEDDL096301R2" class="noborder" colspan="2">
<span class="readernote">notes</span></td><td class="noborder dates" colspan="9" headers="EDDL096301R2 footEDDL096301R2"><ul>
<li> Plus two hours to be arranged.</li>
<li>  See University Bulletin or department for concurrent enrollment requirements and/or prerequisites.</li>
<li>  Cohort 2010 Classes will meet from 0900-1730 on Friday, 6/24, 7/8, 7/15 and 7/22 in BH 408. 2 hours TBA.</li>
</ul></td></tr>
<tr>
<td headers="crsid" id="EDDL096601R2" class="nowrap">
<a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1BIAAB&amp;openu=N&amp;CRSADMIN=R">EDDL 966  [01] R2</a></td>
<td headers="EDDL096601R2 sched">01666</td>
 <td headers="EDDL096601R2 title"><a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1BIAAB&amp;openu=N&amp;CRSADMIN=R">Dissertation Data Collection</a></td>
 <td headers="EDDL096601R2 units">3</td>
			<td headers="EDDL096601R2 meet" class="nowrap">ARR  <br>
			 <span class="dates">20-JUN-11 - 12-AUG-11</span></td>
			<td headers="EDDL096601R2 local"><a href="http://www.sfsu.edu/clickmap/sfsumap.htm"></a> </td>
			<td headers="EDDL096601R2 fac" class="fac_name">
H HYUN
</td>
<td headers="EDDL096601R2 seats"><a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1BIAAB&amp;openu=N&amp;CRSADMIN=R#seats">15</a></td>
<td headers="EDDL096601R2 waitlist">
0
</td>
<td headers="EDDL096601R2 textbook"><a href="http://sfsubookstore.com/catalog/advanced_text_search_result.php?keywords=01666R20113">
	<img src="http://www.sfsu.edu/images/book.gif" width="25" height="23" alt="Book for EDDL 0966 [01] R2"></a></td>
</tr>
<tr>
<td headers="IBUS096601R2 crsid" id="footIBUS096601R2" class="noborder" colspan="2">
<span class="readernote">notes</span></td><td class="noborder dates" colspan="9" headers="IBUS096601R2 footIBUS096601R2"><ul>
<li> Plus two hours to be arranged.</li>
<li>  Cohort 2009 Classes will meet from 0900-1730 on Saturday, 6/25, 7/9, 7/16, and 7/23 in HUM 114. 2 hours TBA.</li>
</ul></td></tr>
<tr>
<td headers="crsid" id="IBUS081501R1" class="nowrap">
<a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1FBAAi&amp;openu=N&amp;CRSADMIN=R">IBUS 815  [01] R1</a></td>
<td headers="IBUS081501R1 sched">01667</td>
 <td headers="IBUS081501R1 title"><a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1FBAAi&amp;openu=N&amp;CRSADMIN=R">Seminar in International Business</a></td>
 <td headers="IBUS081501R1 units">3</td>
			<td headers="IBUS081501R1 meet" class="nowrap">TTH 1300-1700<br>
			 <span class="dates">06-JUN-11 - 08-JUL-11</span></td>
			<td headers="IBUS081501R1 local"><a href="http://www.sfsu.edu/clickmap/dtc.htm">DTC</a> 556</td>
			<td headers="IBUS081501R1 fac" class="fac_name">
Y WONG
</td>
<td headers="IBUS081501R1 seats"><a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1FBAAi&amp;openu=N&amp;CRSADMIN=R#seats">19</a></td>
<td headers="IBUS081501R1 waitlist">
10
</td>
<td headers="IBUS081501R1 textbook"><a href="http://sfsubookstore.com/catalog/advanced_text_search_result.php?keywords=01667R20113">
	<img src="http://www.sfsu.edu/images/book.gif" width="25" height="23" alt="Book for IBUS 0815 [01] R1"></a></td>
</tr>
<tr>
<td headers="IBUS081501R1 crsid" id="footIBUS081501R1" class="noborder" colspan="2">
<span class="readernote">notes</span></td><td class="noborder dates" colspan="9" headers="IBUS081501R1 footIBUS081501R1"><ul>
<li> See University Bulletin or department for concurrent enrollment requirements and/or prerequisites.</li>
<li>  Class meets at the Downtown Campus in the Westfield San Francisco Centre, 835 Market Street.</li>
</ul></td></tr>
<tr>
<td headers="crsid" id="IBUS089901R2" class="nowrap">
<a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1FBAAj&amp;openu=N&amp;CRSADMIN=R">IBUS 899  [01] R2</a></td>
<td headers="IBUS089901R2 sched">*****</td>
 <td headers="IBUS089901R2 title"><a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1FBAAj&amp;openu=N&amp;CRSADMIN=R">Special Study</a></td>
 <td headers="IBUS089901R2 units">3</td>
			<td headers="IBUS089901R2 meet" class="nowrap">ARR  <br>
			 <span class="dates">20-JUN-11 - 12-AUG-11</span></td>
			<td headers="IBUS089901R2 local"><a href="http://www.sfsu.edu/clickmap/sfsumap.htm"></a> </td>
			<td headers="IBUS089901R2 fac" class="fac_name">

</td>
<td headers="IBUS089901R2 seats"><a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1FBAAj&amp;openu=N&amp;CRSADMIN=R#seats">10</a></td>
<td headers="IBUS089901R2 waitlist">
0
</td>

</tr>
<tr>
<td headers="IBUS089901R2 crsid" id="footIBUS089901R2" class="noborder" colspan="2">
<span class="readernote">notes</span></td><td class="noborder dates" colspan="9" headers="IBUS089901R2 footIBUS089901R2"><ul>
</ul></td></tr>
<tr>
<td headers="crsid" id="IBUS089902R1" class="nowrap">
<a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1FBAAk&amp;openu=N&amp;CRSADMIN=R">IBUS 899  [02] R1</a></td>
<td headers="IBUS089902R1 sched">*****</td>
 <td headers="IBUS089902R1 title"><a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1FBAAk&amp;openu=N&amp;CRSADMIN=R">Special Study</a></td>
 <td headers="IBUS089902R1 units">3</td>
			<td headers="IBUS089902R1 meet" class="nowrap">ARR  <br>
			 <span class="dates">06-JUN-11 - 08-JUL-11</span></td>
			<td headers="IBUS089902R1 local"><a href="http://www.sfsu.edu/clickmap/sfsumap.htm"></a> </td>
			<td headers="IBUS089902R1 fac" class="fac_name">
Y WONG
</td>
<td headers="IBUS089902R1 seats"><a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1FBAAk&amp;openu=N&amp;CRSADMIN=R#seats">5</a></td>
<td headers="IBUS089902R1 waitlist">
0
</td>

</tr>
<tr>
<td headers="IBUS089902R1 crsid" id="footIBUS089902R1" class="noborder" colspan="2">
<span class="readernote">notes</span></td><td class="noborder dates" colspan="9" headers="IBUS089902R1 footIBUS089902R1"><ul>
</ul></td></tr>
<tr>
<td headers="crsid" id="IBUS089903R3" class="nowrap">
<a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1I6AAg&amp;openu=N&amp;CRSADMIN=R">IBUS 899  [03] R3</a></td>
<td headers="IBUS089903R3 sched">01794</td>
 <td headers="IBUS089903R3 title"><a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1I6AAg&amp;openu=N&amp;CRSADMIN=R">Special Study</a></td>
 <td headers="IBUS089903R3 units">3</td>
			<td headers="IBUS089903R3 meet" class="nowrap">ARR  <br>
			 <span class="dates">11-JUL-11 - 12-AUG-11</span></td>
			<td headers="IBUS089903R3 local"><a href="http://www.sfsu.edu/clickmap/sfsumap.htm"></a> </td>
			<td headers="IBUS089903R3 fac" class="fac_name">
J NICHOLSON
</td>
<td headers="IBUS089903R3 seats"><a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1I6AAg&amp;openu=N&amp;CRSADMIN=R#seats">5</a></td>
<td headers="IBUS089903R3 waitlist">
0
</td>
<td headers="IBUS089903R3 textbook"><a href="http://sfsubookstore.com/catalog/advanced_text_search_result.php?keywords=01794R20113">
	<img src="http://www.sfsu.edu/images/book.gif" width="25" height="23" alt="Book for IBUS 0899 [03] R3"></a></td>
</tr>
<tr>
<td headers="KIN089903R3 crsid" id="footKIN089903R3" class="noborder" colspan="2">
<span class="readernote">notes</span></td><td class="noborder dates" colspan="9" headers="KIN089903R3 footKIN089903R3"><ul>
</ul></td></tr>
<tr>
<td headers="crsid" id="KIN074601R1" class="nowrap">
<a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1FRAAB&amp;openu=N&amp;CRSADMIN=R">KIN 746  [01] R1</a></td>
<td headers="KIN074601R1 sched">01668</td>
 <td headers="KIN074601R1 title"><a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1FRAAB&amp;openu=N&amp;CRSADMIN=R">Clinical Exercise Physiology</a></td>
 <td headers="KIN074601R1 units">3</td>
			<td headers="KIN074601R1 meet" class="nowrap">TTH 0800-1200<br>
			 <span class="dates">06-JUN-11 - 08-JUL-11</span></td>
			<td headers="KIN074601R1 local"><a href="http://www.sfsu.edu/clickmap/gym.htm">GYM</a> 116</td>
			<td headers="KIN074601R1 fac" class="fac_name">
C LEE
</td>
<td headers="KIN074601R1 seats"><a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1FRAAB&amp;openu=N&amp;CRSADMIN=R#seats">0</a></td>
<td headers="KIN074601R1 waitlist">
3
</td>
<td headers="KIN074601R1 textbook"><a href="http://sfsubookstore.com/catalog/advanced_text_search_result.php?keywords=01668R20113">
	<img src="http://www.sfsu.edu/images/book.gif" width="25" height="23" alt="Book for KIN 0746 [01] R1"></a></td>
</tr>
<tr>
<td headers="MGMT074601R1 crsid" id="footMGMT074601R1" class="noborder" colspan="2">
<span class="readernote">notes</span></td><td class="noborder dates" colspan="9" headers="MGMT074601R1 footMGMT074601R1"><ul>
</ul></td></tr>
<tr>
<td headers="crsid" id="MGMT084201R1" class="nowrap">
<a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB0/WAAB&amp;openu=N&amp;CRSADMIN=R">MGMT 842  [01] R1</a></td>
<td headers="MGMT084201R1 sched">01691</td>
 <td headers="MGMT084201R1 title"><a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB0/WAAB&amp;openu=N&amp;CRSADMIN=R">Seminar in Organization Design and Change</a></td>
 <td headers="MGMT084201R1 units">3</td>
			<td headers="MGMT084201R1 meet" class="nowrap">MW 1730-2130<br>
			 <span class="dates">06-JUN-11 - 08-JUL-11</span></td>
			<td headers="MGMT084201R1 local"><a href="http://www.sfsu.edu/clickmap/dtc.htm">DTC</a> 554</td>
			<td headers="MGMT084201R1 fac" class="fac_name">
S FLATT
</td>
<td headers="MGMT084201R1 seats"><a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB0/WAAB&amp;openu=N&amp;CRSADMIN=R#seats">0</a></td>
<td headers="MGMT084201R1 waitlist">
0
</td>
<td headers="MGMT084201R1 textbook"><a href="http://sfsubookstore.com/catalog/advanced_text_search_result.php?keywords=01691R20113">
	<img src="http://www.sfsu.edu/images/book.gif" width="25" height="23" alt="Book for MGMT 0842 [01] R1"></a></td>
</tr>
<tr>
<td headers="MKTG084201R1 crsid" id="footMKTG084201R1" class="noborder" colspan="2">
<span class="readernote">notes</span></td><td class="noborder dates" colspan="9" headers="MKTG084201R1 footMKTG084201R1"><ul>
<li> See University Bulletin or department for concurrent enrollment requirements and/or prerequisites.</li>
<li>  Class meets at the Downtown Campus in the Westfield San Francisco Centre, 835 Market Street.</li>
</ul></td></tr>
<tr>
<td headers="crsid" id="MKTG086001R3" class="nowrap">
<a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB0/NAAK&amp;openu=N&amp;CRSADMIN=R">MKTG 860  [01] R3</a></td>
<td headers="MKTG086001R3 sched">01724</td>
 <td headers="MKTG086001R3 title"><a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB0/NAAK&amp;openu=N&amp;CRSADMIN=R">Strategic Marketing</a></td>
 <td headers="MKTG086001R3 units">3</td>
			<td headers="MKTG086001R3 meet" class="nowrap">TTH 1730-2130<br>
			 <span class="dates">11-JUL-11 - 12-AUG-11</span></td>
			<td headers="MKTG086001R3 local"><a href="http://www.sfsu.edu/clickmap/dtc.htm">DTC</a> 553</td>
			<td headers="MKTG086001R3 fac" class="fac_name">
M HUSSAIN
</td>
<td headers="MKTG086001R3 seats"><a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB0/NAAK&amp;openu=N&amp;CRSADMIN=R#seats">0</a></td>
<td headers="MKTG086001R3 waitlist">
0
</td>
<td headers="MKTG086001R3 textbook"><a href="http://sfsubookstore.com/catalog/advanced_text_search_result.php?keywords=01724R20113">
	<img src="http://www.sfsu.edu/images/book.gif" width="25" height="23" alt="Book for MKTG 0860 [01] R3"></a></td>
</tr>
<tr>
<td headers="PT086001R3 crsid" id="footPT086001R3" class="noborder" colspan="2">
<span class="readernote">notes</span></td><td class="noborder dates" colspan="9" headers="PT086001R3 footPT086001R3"><ul>
<li> See University Bulletin or department for concurrent enrollment requirements and/or prerequisites.</li>
<li>  Class meets at the Downtown Campus in the Westfield San Francisco Centre, 835 Market Street.</li>
</ul></td></tr>
<tr>
<td headers="crsid" id="PT070601R3" class="nowrap">
<a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1FRAAE&amp;openu=N&amp;CRSADMIN=R">PT 706  [01] R3</a></td>
<td headers="PT070601R3 sched">01670</td>
 <td headers="PT070601R3 title"><a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1FRAAE&amp;openu=N&amp;CRSADMIN=R">Structure, Function and Motion in Physical Therapy</a></td>
 <td headers="PT070601R3 units">2</td>
			<td headers="PT070601R3 meet" class="nowrap">TTH 0800-0900<br>
			 <span class="dates">11-JUL-11 - 12-AUG-11</span></td>
			<td headers="PT070601R3 local"><a href="http://www.sfsu.edu/clickmap/gym.htm">T-G</a> 1</td>
			<td headers="PT070601R3 fac" class="fac_name">
J GALVAN
</td>
<td headers="PT070601R3 seats"><a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB1FRAAE&amp;openu=N&amp;CRSADMIN=R#seats">0</a></td>
<td headers="PT070601R3 waitlist">
0
</td>
<td headers="PT070601R3 textbook"><a href="http://sfsubookstore.com/catalog/advanced_text_search_result.php?keywords=01670R20113">
	<img src="http://www.sfsu.edu/images/book.gif" width="25" height="23" alt="Book for PT 0706 [01] R3"></a></td>
</tr>
<tr>
<td class="noborder" headers="PT070601R3 crsid" colspan="4"> </td>
<td class="noborder nowrap" headers="PT070601R3 meet">TTH 0900-1200 <br> <span class="dates"> 11-JUL-11 - 12-AUG-11</span></td>

													<td class="noborder " headers="PT070601R3 local">
													<a href="http://www.sfsu.edu/clickmap/gym.htm">T-G</a> 1</td>
													<td class="noborder fac_name" headers="PT070601R3 fac">
J GALVAN
</td>

													<td colspan="3" class="noborder"> </td>
</tr>
<tr>
<td headers="PT070601R3 crsid" id="footPT070601R3" class="noborder" colspan="2">
<span class="readernote">notes</span></td><td class="noborder dates" colspan="9" headers="PT070601R3 footPT070601R3"><ul>
</ul></td></tr>
<tr>
<td headers="crsid" id="PT080101R4" class="nowrap">
<a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB09BAAA&amp;openu=N&amp;CRSADMIN=R">PT 801  [01] R4</a></td>
<td headers="PT080101R4 sched">01671</td>
 <td headers="PT080101R4 title"><a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB09BAAA&amp;openu=N&amp;CRSADMIN=R">Clinical Clerkship I</a></td>
 <td headers="PT080101R4 units">6</td>
			<td headers="PT080101R4 meet" class="nowrap">ARR  <br>
			 <span class="dates">06-JUN-11 - 12-AUG-11</span></td>
			<td headers="PT080101R4 local"><a href="http://www.sfsu.edu/clickmap/off.htm">OFF</a> CMPS</td>
			<td headers="PT080101R4 fac" class="fac_name">
J GALVAN
</td>
<td headers="PT080101R4 seats"><a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB09BAAA&amp;openu=N&amp;CRSADMIN=R#seats">1</a></td>
<td headers="PT080101R4 waitlist">
0
</td>
<td headers="PT080101R4 textbook"><a href="http://sfsubookstore.com/catalog/advanced_text_search_result.php?keywords=01671R20113">
	<img src="http://www.sfsu.edu/images/book.gif" width="25" height="23" alt="Book for PT 0801 [01] R4"></a></td>
</tr>
<tr>
<td headers="PT080101R4 crsid" id="footPT080101R4" class="noborder" colspan="2">
<span class="readernote">notes</span></td><td class="noborder dates" colspan="9" headers="PT080101R4 footPT080101R4"><ul>
</ul></td></tr>
<tr>
<td headers="crsid" id="PT080102R4" class="nowrap">
<a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB09BAAB&amp;openu=N&amp;CRSADMIN=R">PT 801  [02] R4</a></td>
<td headers="PT080102R4 sched">01672</td>
 <td headers="PT080102R4 title"><a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB09BAAB&amp;openu=N&amp;CRSADMIN=R">Clinical Clerkship I</a></td>
 <td headers="PT080102R4 units">6</td>
			<td headers="PT080102R4 meet" class="nowrap">ARR  <br>
			 <span class="dates">06-JUN-11 - 12-AUG-11</span></td>
			<td headers="PT080102R4 local"><a href="http://www.sfsu.edu/clickmap/off.htm">OFF</a> CMPS</td>
			<td headers="PT080102R4 fac" class="fac_name">
J GALVAN
</td>
<td headers="PT080102R4 seats"><a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB09BAAB&amp;openu=N&amp;CRSADMIN=R#seats">1</a></td>
<td headers="PT080102R4 waitlist">
0
</td>
<td headers="PT080102R4 textbook"><a href="http://sfsubookstore.com/catalog/advanced_text_search_result.php?keywords=01672R20113">
	<img src="http://www.sfsu.edu/images/book.gif" width="25" height="23" alt="Book for PT 0801 [02] R4"></a></td>
</tr>
<tr>
<td headers="PT080102R4 crsid" id="footPT080102R4" class="noborder" colspan="2">
<span class="readernote">notes</span></td><td class="noborder dates" colspan="9" headers="PT080102R4 footPT080102R4"><ul>
</ul></td></tr>
<tr>
<td headers="crsid" id="PT080201R4" class="nowrap">
<a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB09BAAC&amp;openu=N&amp;CRSADMIN=R">PT 802  [01] R4</a></td>
<td headers="PT080201R4 sched">01673</td>
 <td headers="PT080201R4 title"><a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB09BAAC&amp;openu=N&amp;CRSADMIN=R">Clinical Clerkship II</a></td>
 <td headers="PT080201R4 units">6</td>
			<td headers="PT080201R4 meet" class="nowrap">ARR  <br>
			 <span class="dates">06-JUN-11 - 12-AUG-11</span></td>
			<td headers="PT080201R4 local"><a href="http://www.sfsu.edu/clickmap/off.htm">OFF</a> CMPS</td>
			<td headers="PT080201R4 fac" class="fac_name">
L WANEK
</td>
<td headers="PT080201R4 seats"><a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB09BAAC&amp;openu=N&amp;CRSADMIN=R#seats">0</a></td>
<td headers="PT080201R4 waitlist">
0
</td>
<td headers="PT080201R4 textbook"><a href="http://sfsubookstore.com/catalog/advanced_text_search_result.php?keywords=01673R20113">
	<img src="http://www.sfsu.edu/images/book.gif" width="25" height="23" alt="Book for PT 0802 [01] R4"></a></td>
</tr>
<tr>
<td headers="PT080201R4 crsid" id="footPT080201R4" class="noborder" colspan="2">
<span class="readernote">notes</span></td><td class="noborder dates" colspan="9" headers="PT080201R4 footPT080201R4"><ul>
</ul></td></tr>
<tr>
<td headers="crsid" id="PT080202R4" class="nowrap">
<a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB09BAAD&amp;openu=N&amp;CRSADMIN=R">PT 802  [02] R4</a></td>
<td headers="PT080202R4 sched">01674</td>
 <td headers="PT080202R4 title"><a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB09BAAD&amp;openu=N&amp;CRSADMIN=R">Clinical Clerkship II</a></td>
 <td headers="PT080202R4 units">6</td>
			<td headers="PT080202R4 meet" class="nowrap">ARR  <br>
			 <span class="dates">06-JUN-11 - 12-AUG-11</span></td>
			<td headers="PT080202R4 local"><a href="http://www.sfsu.edu/clickmap/off.htm">OFF</a> CMPS</td>
			<td headers="PT080202R4 fac" class="fac_name">
L WANEK
</td>
<td headers="PT080202R4 seats"><a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB09BAAD&amp;openu=N&amp;CRSADMIN=R#seats">1</a></td>
<td headers="PT080202R4 waitlist">
0
</td>
<td headers="PT080202R4 textbook"><a href="http://sfsubookstore.com/catalog/advanced_text_search_result.php?keywords=01674R20113">
	<img src="http://www.sfsu.edu/images/book.gif" width="25" height="23" alt="Book for PT 0802 [02] R4"></a></td>
</tr>
<tr>
<td headers="PT080202R4 crsid" id="footPT080202R4" class="noborder" colspan="2">
<span class="readernote">notes</span></td><td class="noborder dates" colspan="9" headers="PT080202R4 footPT080202R4"><ul>
</ul></td></tr>
<tr>
<td headers="crsid" id="PT080301R4" class="nowrap">
<a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB09BAAE&amp;openu=N&amp;CRSADMIN=R">PT 803  [01] R4</a></td>
<td headers="PT080301R4 sched">01675</td>
 <td headers="PT080301R4 title"><a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB09BAAE&amp;openu=N&amp;CRSADMIN=R">Clinical Clerkship III</a></td>
 <td headers="PT080301R4 units">6</td>
			<td headers="PT080301R4 meet" class="nowrap">ARR  <br>
			 <span class="dates">06-JUN-11 - 12-AUG-11</span></td>
			<td headers="PT080301R4 local"><a href="http://www.sfsu.edu/clickmap/off.htm">OFF</a> CMPS</td>
			<td headers="PT080301R4 fac" class="fac_name">
T JARAMILLO
</td>
<td headers="PT080301R4 seats"><a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB09BAAE&amp;openu=N&amp;CRSADMIN=R#seats">0</a></td>
<td headers="PT080301R4 waitlist">
0
</td>
<td headers="PT080301R4 textbook"><a href="http://sfsubookstore.com/catalog/advanced_text_search_result.php?keywords=01675R20113">
	<img src="http://www.sfsu.edu/images/book.gif" width="25" height="23" alt="Book for PT 0803 [01] R4"></a></td>
</tr>
<tr>
<td headers="PT080301R4 crsid" id="footPT080301R4" class="noborder" colspan="2">
<span class="readernote">notes</span></td><td class="noborder dates" colspan="9" headers="PT080301R4 footPT080301R4"><ul>
</ul></td></tr>
<tr>
<td headers="crsid" id="PT080302R4" class="nowrap">
<a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB09BAAF&amp;openu=N&amp;CRSADMIN=R">PT 803  [02] R4</a></td>
<td headers="PT080302R4 sched">01676</td>
 <td headers="PT080302R4 title"><a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB09BAAF&amp;openu=N&amp;CRSADMIN=R">Clinical Clerkship III</a></td>
 <td headers="PT080302R4 units">6</td>
			<td headers="PT080302R4 meet" class="nowrap">ARR  <br>
			 <span class="dates">06-JUN-11 - 12-AUG-11</span></td>
			<td headers="PT080302R4 local"><a href="http://www.sfsu.edu/clickmap/off.htm">OFF</a> CMPS</td>
			<td headers="PT080302R4 fac" class="fac_name">
T JARAMILLO
</td>
<td headers="PT080302R4 seats"><a href="/cgi-bin/sims/classsch.details?row_id=AAASGQABPAAB09BAAF&amp;openu=N&amp;CRSADMIN=R#seats">1</a></td>
<td headers="PT080302R4 waitlist">
0
</td>
<td headers="PT080302R4 textbook"><a href="http://sfsubookstore.com/catalog/advanced_text_search_result.php?keywords=01676R20113">
	<img src="http://www.sfsu.edu/images/book.gif" width="25" height="23" alt="Book for PT 0803 [02] R4"></a></td>
</tr>
<tr>
<td headers="PT080302R4 crsid" id="footPT080302R4" class="noborder" colspan="2">
<span class="readernote">notes</span></td><td class="noborder dates" colspan="9" headers="PT080302R4 footPT080302R4"><ul>
</ul></td></tr>
</tbody></table>
<br class="clearleft"><h3>40 classes met your search criteria.</h3>
<p class="topbar">Questions regarding above information should be addressed to the appropriate academic <a href="http://www.sfsu.edu/atoz">departments</a>
.
</p>
<p class="topbar"><strong>Please Note</strong>: Although this online class schedule is prepared on the basis of the best information available at the time, all information including class meeting times and
locations, course offerings, and availablity of enrollment is subject to change without notice or obligation.  The university does not guarantee the availabilty of a particular course or section.</p>
<!-- 12/06 R=1, T1=0, T2=.03, T3=.04, Tot=.07 -->
</div>