<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
		<customErrors mode="On" xdt:Transform="SetAttributes" />
	</system.web>

	<casClientConfig xdt:Transform="Replace"
									 casServerLoginUrl="https://fa.bellevuecollege.edu:8443/cas/login"
									 casServerUrlPrefix="https://fa.bellevuecollege.edu:8443/cas/"
									 serverName="http://bellevuecollege.edu/classes"
									 notAuthorizedUrl="~/Home/NotAuthorized"
									 cookiesRequiredUrl="~/Home/CookiesRequired"
									 redirectAfterValidation="true"
									 gateway="false"
									 renew="false"
									 singleSignOut="true"
									 ticketTimeTolerance="5000"
									 ticketValidatorName="Cas20"
									 proxyTicketManager="CacheProxyTicketManager"
									 serviceTicketManager="CacheServiceTicketManager"
									 gatewayStatusCookieName="CasGatewayStatus" />

</configuration>