<?xml version="1.0" encoding="utf-8"?>
<!--
	For more information on how to configure your ASP.NET application, please visit
	http://go.microsoft.com/fwlink/?LinkId=152368
	-->
<configuration>
  <configSections>
    <section name="ValidationPatterns" type="Ctc.Ods.Config.ValidationPatternsConfigHandler, CtcOdsApi" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <connectionStrings>
    <add name="OdsContext" connectionString="Data Source=TESTMSSQL\ODSDATA;Initial Catalog=ODS;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="ClassScheduleDevEntities" connectionString="metadata=res://*/Models.AvailableSeats.csdl|res://*/Models.AvailableSeats.ssdl|res://*/Models.AvailableSeats.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=testmssql\odsdata;Initial Catalog=ClassScheduleDev;Persist Security Info=True;User ID=ClassSchedule_WebUser;Password=aSQ@#$Q*hasduifw3$@#dsafdd;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <ValidationPatterns CreditClassIDs="[0-6]\d{3}" ContEdClassIDs="[7-9A-Z]\w{3}" CommonCourseChar="&amp;" />
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="CTCClassSchedule" />
      </namespaces>
    </pages>
    <httpRuntime requestPathInvalidCharacters="" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>