<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an atrribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
		<customErrors mode="On" xdt:Transform="SetAttributes" />
	</system.web>

	<casClientConfig xdt:Transform="Replace"
									 casServerLoginUrl="https://fa.bellevuecollege.edu:8443/cas/login"
									 casServerUrlPrefix="https://fa.bellevuecollege.edu:8443/cas/"
									 serverName="http://bellevuecollege.edu/classes"
									 notAuthorizedUrl="~/Home/NotAuthorized"
									 cookiesRequiredUrl="~/Home/CookiesRequired"
									 redirectAfterValidation="true"
									 gateway="false"
									 renew="false"
									 singleSignOut="true"
									 ticketTimeTolerance="5000"
									 ticketValidatorName="Cas20"
									 proxyTicketManager="CacheProxyTicketManager"
									 serviceTicketManager="CacheServiceTicketManager"
									 gatewayStatusCookieName="CasGatewayStatus" />
</configuration>