<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="casClientConfig" type="DotNetCasClient.Configuration.CasClientConfiguration, DotNetCasClient"/>
    <section name="ctcAutomatedFootnoteSettings" type="CTCClassSchedule.AutomatedFootnotesSection"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CTCClassSchedule.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <section name="ctcOdsApiSettings" type="Ctc.Ods.Config.SettingsConfigHandler, CtcOdsApi"/>
  </configSections>
  <appSettings configSource="WorkstationAppSettings.config"/>
  <ctcOdsApiSettings>
    <classFlags lateStartDaysCount="8" online="3" hybrid="8" telecourse="1" continuousEnrollment="C">
      <!-- These flags are defined at https://tfs.wacollabcoop.org/sites/BellevueCollege/ODSAPI/Team%20Wiki/How%20Section%20data%20is%20managed%20in%20ODS%20(HP).aspx -->
      <rule action="exclude" column="SectionStatusID1" position="contains" value="X"/>
      <rule action="exclude" column="SectionStatusID1" position="contains" value="Z"/>
      <rule action="exclude" column="SectionStatusID2" position="contains" value="A"/>
      <rule action="exclude" column="SectionStatusID4" position="contains" value="M"/>
      <rule action="exclude" column="SectionStatusID4" position="contains" value="N"/>
    </classFlags>
    <regex CommonCourseChar="&amp;"/>
    <yearQuarter minValue="0000" maxValue="Z999" registrationLeadDays="14" cache="60"/>
    <waitlist status="W-LISTED"/>
    <lateStartDefinition daysCount="8"/>
    <sectionDaysDefault valueToReplace="ARRANGED" newValue="Arranged"/>
  </ctcOdsApiSettings>
  <ctcAutomatedFootnoteSettings>
    <add name="startDate" text="Class starts {DATE}." stringFormat="M/d"/>
    <add name="endDate" text="Class ends {DATE}." stringFormat="M/d"/>
    <add name="hybrid" text="Hybrid class: this class meets in person and online." stringFormat="M/d"/>
    <add name="continuousEnrollment" text="Continuous enrollment until {DATE}." stringFormat="M/d"/>
  </ctcAutomatedFootnoteSettings>
  <connectionStrings configSource="WorkstationConnectionStrings.config"/>
  <system.web>
    <!-- The setting below handles non-MVC errors. See Global.asax.cs for MVC error handling -->
    <customErrors mode="On" defaultRedirect="~/Error.aspx"/>
    <authentication mode="Forms">
      <forms loginUrl="https://fa.bellevuecollege.edu:8443/cas/login" cookieless="UseCookies"/>
      <!--
        To use the standard Forms Authentication that comes with the MVC3 Application template replace the above with:

        <forms loginUrl="~/Account/LogOn"/>
      -->
    </authentication>
    <compilation targetFramework="4.0" debug="true">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      </assemblies>
    </compilation>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
        <add namespace="CTCClassSchedule"/>
      </namespaces>
    </pages>
    <httpRuntime requestPathInvalidCharacters=""/>
    <membership>
      <providers>
        <clear/>
        <!-- Uncomment this line for standard Forms Authentication
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
        -->
      </providers>
    </membership>
    <!-- Uncomment this block for standard Forms Authentication
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    -->
    <roleManager enabled="true" defaultProvider="ActiveDirectory">
      <providers>
        <clear/>
        <!-- Uncomment this block for standard Forms Authentication
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
        -->
        <add name="ActiveDirectory" type="Ctc.Web.Security.ActiveDirectoryRoleProvider" domain="CAMPUS" groupMode="" connectionString="LDAP://DC=apex,DC=bellevuecollege,DC=edu"/>
        <!-- TODO: Make LDAP string point to actual root OU we want to search in -->
      </providers>
    </roleManager>
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <!-- CTC Class Schedule Caching settings for views in seconds -->
          <add name="IndexCacheTime" duration="0" varyByParam="*"/>
          <add name="AllClassesCacheTime" duration="0" varyByParam="*"/>
          <add name="SubjectCacheTime" duration="0" varyByParam="*"/>
          <add name="YearQuarterCacheTime" duration="0" varyByParam="*"/>
          <add name="YearQuarterSubjectCacheTime" duration="0" varyByParam="*"/>
          <add name="ClassDetailsCacheTime" duration="0" varyByParam="*"/>
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
    <trace writeToDiagnosticsTrace="true" enabled="true" pageOutput="false"/>
    <httpModules>
      <add name="DotNetCasClient" type="DotNetCasClient.CasAuthenticationModule,DotNetCasClient"/>
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="DotNetCasClient"/>
      <add name="DotNetCasClient" type="DotNetCasClient.CasAuthenticationModule,DotNetCasClient"/>
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <casClientConfig casServerLoginUrl="https://fa.bellevuecollege.edu:8443/cas/login" casServerUrlPrefix="https://fa.bellevuecollege.edu:8443/cas/" service="http://bellevuecollege.edu/classes" serverName="http://bellevuecollege.edu" notAuthorizedUrl="~/Home/NotAuthorized" cookiesRequiredUrl="~/Home/CookiesRequired" redirectAfterValidation="true" gateway="false" renew="false" singleSignOut="true" ticketTimeTolerance="5000" ticketValidatorName="Cas20" proxyTicketManager="CacheProxyTicketManager" serviceTicketManager="CacheServiceTicketManager" gatewayStatusCookieName="CasGatewayStatus"/>
  <applicationSettings>
    <CTCClassSchedule.Properties.Settings>
      <setting name="QuartersToDisplay" serializeAs="String">
        <value>-4</value>
      </setting>
      <setting name="ClassFootnotesHP" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ClassFootnotesCMS" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ClassFootnotesBoth" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SectionFootnotesHP" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SectionFootnotesCMS" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SectionFootnotesBoth" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FacultyLinkURL" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FacultyLinkEmail" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FacultyLinkNone" serializeAs="String">
        <value>False</value>
      </setting>
    </CTCClassSchedule.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService1" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://bellevuecollege.edu/ws/courseoutcomes/Service1.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1" contract="IService1" name="BasicHttpBinding_IService1"/>
    </client>
  </system.serviceModel>
</configuration>