<?xml version="1.0" encoding="utf-8"?>
<!--
	For more information on how to configure your ASP.NET application, please visit
	http://go.microsoft.com/fwlink/?LinkId=152368
	-->
<configuration>
  <configSections>
		<section name="ctcOdsApiSettings" type="Ctc.Ods.Config.SettingsConfigHandler, CtcOdsApi" />
	</configSections>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!-- CTC ODS API settings -->
    <add key="CourseDescriptionHandler" value="Ctc.Ods.Customizations.BellevueCollegeCourseDescriptionStrategy" />
  </appSettings>
	<ctcOdsApiSettings>
		<regex CommonCourseChar="&amp;"/>
		<classFlags>
			<!-- These flags are defined at https://tfs.wacollabcoop.org/sites/BellevueCollege/ODSAPI/Team%20Wiki/How%20Section%20data%20is%20managed%20in%20ODS%20(HP).aspx -->
			<rule action="exclude" column="SectionStatusID1" position="contains" value="X"/>
			<rule action="exclude" column="SectionStatusID1" position="contains" value="Z"/>
			<rule action="exclude" column="SectionStatusID2" position="contains" value="A"/>
			<rule action="exclude" column="SectionStatusID4" position="contains" value="M"/>
			<rule action="exclude" column="SectionStatusID4" position="contains" value="N"/>
		</classFlags>
	</ctcOdsApiSettings>
	<connectionStrings>
    <add name="OdsContext" connectionString="Data Source=TESTMSSQL\ODSDATA;Initial Catalog=ODS;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="ClassScheduleDevEntities" connectionString="metadata=res://*/Models.AvailableSeats.csdl|res://*/Models.AvailableSeats.ssdl|res://*/Models.AvailableSeats.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=testmssql\odsdata;Initial Catalog=ClassScheduleDev;Persist Security Info=True;User ID=ClassSchedule_WebUser;Password=aSQ@#$Q*hasduifw3$@#dsafdd;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="CTCClassSchedule" />
      </namespaces>
    </pages>
    <httpRuntime requestPathInvalidCharacters="" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>