@model IEnumerable<Ctc.Ods.Types.CoursePrefix>

<style type="text/css">
@for(int i = 1; i <= ViewBag.SubjectsColumns; i++) {
	<text>
	#subjects-column-@i {
		float: left;
		width: @((int)(100 / ViewBag.SubjectsColumns))%
	}
	</text>
}
</style>

<div id="subjects-list">
	@{
		int count = 1,
				breakPoint = (Model.Count() / (ViewBag.SubjectsColumns != null ? (int)ViewBag.SubjectsColumns : 1)),
				columnNumber = 1;
	}
	<div id="subjects-column-@columnNumber">
	@foreach (var item in Model) {
		if(count++ > breakPoint) {
		count = 1;
	@:</div>
	@:<div id="subjects-column-@(++columnNumber)">
		}
		<div class="subject">
			@Html.ActionLink(item.Title, "Subject", "Classes", new { item.Subject }, null)
		</div>
	}
	</div>
</div>
