@model IEnumerable<Ctc.Ods.Types.CoursePrefix>

Hello world!

@*
<table>
    <tr>
        <th>
            Subject
        </th>
        <th>
            Title
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.Subject
        </td>
        <td>
            @item.Title
        </td>
    </tr>
}

</table>
*@
