/* Reset reloaded */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}

/*BC Set*/
body { font-family: Helvetica, Arial, sans-serif; background-color: #F2F2F2}


/*For demo only*/
#wrap { height: 200px; }

/*top*/
#bc-top {background: #00203F; color: white; font-size: 12px; }
#bc-top ul,
#bc-top p {padding: 0; margin: 0; list-style-type: none;}
#bc-top a { color: white;}
#bc-top a:hover, #bc-top a:focus { color: white;}
#bc-top i { font-style:italic;}

/*Skip links*/
#skiplinks {}
#skiplinks li { display: inline;}
#skiplinks a {
	display: block; line-height: 34px; font-size: 13px; text-align: center;
	position: absolute; top: -99999px;
	text-decoration: none; font-weight: bold }
#skiplinks a:focus { position: inherit;}
#skiplinks a:hover { color: red;}

/*Big Blue header*/
#bighead-wrap { background: #00203F url(../img/head-botline.png); padding-bottom: 3px; }
#bighead-wrap2 { background: #003d79 url(../img/headbgwidetile.jpg);  }
#bighead-wrap3 { background: transparent url(../img/headbgwide.jpg) repeat-x;  }
#bighead-wrap4 { background: transparent url(../img/headbgshadow.png) repeat-y 50% top;  }
#bighead { margin: 0 auto; width: 960px; background: #003d79 url(../img/headbg.jpg);}

#bighead #bc-logo { padding: 16px 0 19px 29px; float: left; width: 414px;  }
#bighead #bc-logo a{width: 414px; display: block}
#bighead #bc-logo a:hover,
#bighead #bc-logo a:focus {background: url(../img/homepage.png) no-repeat  100% 16px;}

#bc-navigation {clear: both; background: transparent url(../img/translucentpixel.png) repeat-x}
#bc-navigation h2 {position: absolute; left: -9999px; top: -9999px}
#bc-navigation ul {overflow: hidden; background: transparent url(../img/nav-highlight.png); }
#bc-navigation li {display: inline;}
#bc-navigation li:first-child a {margin-left: 11px}
#bc-navigation a { 	display: block; float: left;
					font-weight: bold; text-decoration: none;
					font-size: 14px; line-height: 20px;
					color: white;
					text-shadow: 0px 0px 2px #003D79;
					 }
#bc-navigation span.inner {display: block; padding-left:1px; }
#bc-navigation span.inner2 {display: block; padding-right:1px; }
#bc-navigation span.inner3 {display: block; padding: 0px 18px; }

#bc-navigation a.selected,
#bc-navigation a:hover,
#bc-navigation a:focus { background: transparent  url(../img/nav-highlight.png);}
#bc-navigation a.selected span.inner,
#bc-navigation a:hover span.inner,
#bc-navigation a:focus span.inner {background: transparent url(../img/translucentpixel.png) repeat-y left;}
#bc-navigation a.selected span.inner2,
#bc-navigation a:hover span.inner2,
#bc-navigation a:focus span.inner2 {background: transparent url(../img/translucentpixel.png) repeat-y right;}

#bc-navigation a.selected span.inner3,
#bc-navigation a:hover span.inner3,
#bc-navigation a:focus span.inner3 {background: transparent  url(../img/nav-highlight.png)}


/*ID Bar*/
#smallhead-wrap {background: #003d79 url(../img/headbgwidetile.jpg);}
#smallhead {	margin: 0 auto; width: 960px; background: #003d79 url(../img/headbg.jpg);
			line-height: 31px;
			position: relative;
			zoom: 1 /*IE hack, see next line*/;}
#smallhead:after {content: ".";display: block; height: 0; clear: both; visibility: hidden; } /*keep box from collapsing*/

#smallhead #bc-logo { padding: 4px 0 1px 19px; width: 310px; float: left; }
#smallhead #bc-logo a{width: 310px; display: block}
#smallhead #bc-logo a:hover,
#smallhead #bc-logo a:focus {background: url(../img/homepage.png) no-repeat  100% 8px;}


/*Actions*/
ul.top-actions { display: inline; list-style: none; padding: 0; margin: 0; list-style:none;  float: right; line-height: 31px; }
ul.top-actions li.top-actions{ display: block; padding: 0 1px 0 0; margin: 0; float: right; background: url(../img/divider.png) no-repeat  100% 51%}
ul.top-actions li:first-child{ background: none; padding-right: 0;}
#bc-top ul.top-actions a { color: rgba(255, 255, 255, .8) }
ul.top-actions li.top-actions .top-actions { display: block; padding: 0 10px 1px; text-decoration: underline; color: rgba( 255, 255, 255, .8) }
#bc-top ul.top-actions li.top-actions a:hover { text-decoration: none; color: white;}
#bc-top ul.top-actions li.top-actions a:focus {outline: dotted 1px #ddd; background-color: #4D78A1; text-decoration: none; }



/* Footer Area*/
#bigfoot {  font-size: 12px;  }
#bigfoot-inner { background: transparent url(../img/foot-shadow-top.png) repeat-x 0 29px; padding-top: 42px }
#bigfoot-inner a:focus { outline: dotted 1px #f1f1f1}
#bigfoot-inner2 { background: url(../img/foot-bg-wide.jpg) #BCBCBC; line-height: 21px; border-top: 1px solid #6A6C6E; border-bottom: 1px solid #434648}
#bigfoot-inner2 a {color: #003d79; text-decoration: none; font-weight: bold; }
#bigfoot-inner2 a:hover,
#bigfoot-inner2 a:focus {text-decoration: underline; color: #004D99;}

#bigfoot-inner3 { background: url(../img/foot-shadow.png) repeat-y center transparent}
#bigfoot-inner4 { width: 960px; margin: 0 auto; padding-top: 13px; overflow: hidden; background: url(../img/foot-bg.jpg) #C6C6C6;   }
#bigfoot .grid8 {float: left; width: 640px; margin: 0; padding: 0;}
#bigfoot .grid4 {float: left; width: 320px; margin: 0; padding: 0;}
#bigfoot .grid2 {float: left; width: 160px; margin: 0; padding: 0;}
#bigfoot p {
	margin: 0;
	padding: 0
	line-height: 21px;
	font-size: 13px;}
#bigfoot h2 { position: absolute; left: -9999px; top: -9999px;}
#bigfoot h3 { font-size: 12px; line-height: 21px; font-weight: bold; margin: 0;}
#bigfoot li,
#bigfoot h3{ margin: 0; padding:0; padding-left: 20px}
#bigfoot ul {margin:0; padding: 0}
#bigfoot li { list-style-type: none; margin:0; line-height: 14px; padding: 3px 0 4px 20px}
#bigfoot li, #bigfoot p { zoom: 1} /*IE hack*/

#bigfoot #foot-links { background: url(../img/foot-col-sep.png) repeat-x left 21px; margin-bottom: 21px;}

#bigfoot .social-media h3 { margin-top: 21px;}
#bigfoot .social-media ul { padding-left: 4px;}
#bigfoot .social-media li { float: left; padding: 0 0 0 14px; line-height: 21px;}
#bigfoot .social-media ul a { text-decoration: underline}
#bigfoot .social-media ul a:hover,
#bigfoot .social-media ul a:focus { text-decoration: none}

/*Search - defaults to foot searchbox*/
.searchbox {    width: 284px; height: 21px; border: 1px solid #6A6C6E; position: relative; margin-left: 19px;
	background: #F5F8FA; /* old browsers */
	background: -moz-linear-gradient(top, #F5F8FA 0%, #D0D9E1 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F5F8FA), color-stop(100%,#D0D9E1)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F5F8FA', endColorstr='#D0D9E1',GradientType=0 ); /* ie */
	background: -o-linear-gradient(top, #F5F8FA 0%,#D0D9E1 100%); /* opera */}
.searchbox .searchfield {   position: absolute; left: 0; padding: 0; margin: 2px 0 0 4px; border: 0; width: 240px; background: none; /* float: left; padding: 0; margin: 2px 0 0 4px; border: 0; width: 240px; background: none; background: white;*/}
.searchbox .searchfield:focus {outline: none;}
.searchbox .search-btn {    position: absolute; right: 0;  top: 1px; padding: 0 3px 0 5px /*float: right; margin: 1px 1px 0 5px; padding: 0 2px 0 5px ; */}
.search-line { position: absolute; left: 257px; top: 0; height: 21px; width: 1px; background-color: #6A6C6E}
.searchform h3{line-height:20px; padding-left: 21px}
.selected .searchbox { background: white;}

#bighead .searchform label { position: absolute; left: -99999px; top: -9999px}
#bighead .searchbox { margin-left: 0; float: right; margin-right: 9px; width: 278px;
	border-color: #003d79;
	background: #ECF0F5; /* old browsers */
	background: -moz-linear-gradient(top, #ECF0F5 0%, #97ADC8 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ECF0F5), color-stop(100%,#97ADC8)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ECF0F5', endColorstr='#97ADC8',GradientType=0 ); /* ie */
	background: -o-linear-gradient(top, #ECF0F5 0%,#97ADC8 100%); /* opera */}
#bighead .selected .searchbox { background: white;}
#bighead .search-line {background-color: #003d79; left: 251px;}


#bigfoot ul.search-sub-links { overflow: hidden; padding-left: 20px; clear: left; }
#bigfoot ul.search-sub-links li {float: left; padding: 0 7px 1px 8px; line-height: 19px;}
#bigfoot ul.search-sub-links li:first-child { padding-left: 0}
#bigfoot ul.search-sub-links li a {font-weight: normal; text-decoration: underline; }
#bigfoot ul.search-sub-links li a:focus,
#bigfoot ul.search-sub-links li a:hover  {text-decoration: none; }


#bellevueaddressinfo { background-color: #B3B3B3; border-top: 1px solid #999; clear: left; }
#bellevueaddressinfo h3 { position: absolute; left: -9999px; top: -9999px }
#bellevueaddressinfo #bellevueaddress { text-align: center; line-height: 20px; font-size: 12px;}
#bellevueaddressinfo .adr,
#bellevueaddressinfo .tel { display: inline;}
#bellevueaddressinfo .tel .type { display: none;}
#bellevueaddressinfo #bellevueaddress a { color: black; text-decoration: none; font-weight: bold;}
#bellevueaddressinfo #bellevueaddress a:hover,
#bellevueaddressinfo #bellevueaddress a:focus { color: #003D79; text-decoration: underline;}
#bellevueaddressinfo .adr span {padding-left: .5em}
#bellevueaddressinfo .adr .street-address,
#bellevueaddressinfo .adr .locality,
#bellevueaddressinfo .adr .country-name,
#bellevueaddressinfo .tel { background: url(../img/foot-square-sep.gif) no-repeat 6px 51% transparent; padding-left: 20px; }
#bellevueaddressinfo .country-name abbr { border-bottom-width: 0; cursor: inherit }

#legalbar { clear: left; margin: 0 auto; padding: 13px 0 14px 0; }
#bigfoot #legalbar {background: url(../img/foot-shadow-bot.png) no-repeat top center transparent;}
#legalbar a:focus { outline: dotted 1px #003D79}

#legalbar h3 { position: absolute; left: -9999px; top: -9999px }

#legalbar ul {padding:0; text-align: center; font-size: 12px;}
#legalbar li { display: inline; padding:0}
#legalbar li a { padding-left: 22px; color: #666; line-height: 21px; background: url(../img/foot-legal-sep.gif) repeat-y 9px 1px}
#legalbar li a:hover,
#legalbar li a:focus { color: #003D79;}
#legalbar li.first a {padding-left: 0; background: none; }
#legalbar li.last { float: none; clear: left; display: block; padding: 0}
#legalbar li.last a {padding-left: 0; background: none; }
#legalbar span { padding-left: 21px;}
