@model HandleErrorInfo

<!DOCTYPE html>
<html>
<head>
    <title>Oops, an error has occurred</title>
</head>
<body>
  <h2>Oops, an error has occurred</h2>
  <div>
    If this error persists please <a href="https://bellevuecollege.edu/requestcenter/Requests/NewRequest.aspx?CategoryID=233&TaskTypeID=382">submit a ticket</a>.
  </div>
</body>
</html>