<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="ctcOdsApiSettings" type="Ctc.Ods.Config.SettingsConfigHandler, CtcOdsApi" />
  </configSections>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
	<connectionStrings  configSource="ConnectionStrings.config"></connectionStrings>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </modules>
  </system.webServer>


  <appSettings>
    <add key="CourseDescriptionHandler" value="Ctc.Ods.Customizations.BellevueCollegeCourseDescriptionStrategy"/>
  </appSettings>

  <ctcOdsApiSettings>
    <regex CommonCourseChar="&amp;"/>
    <yearQuarter minValue="0000" maxValue="Z999"/>
    <classFlags online="3" hybrid="8" telecourse="1">
      <!-- These flags are defined at https://tfs.wacollabcoop.org/sites/BellevueCollege/ODSAPI/Team%20Wiki/How%20Section%20data%20is%20managed%20in%20ODS%20(HP).aspx -->
      <rule action="exclude" column="SectionStatusID1" position="contains" value="X"/>
      <rule action="exclude" column="SectionStatusID1" position="contains" value="Z"/>
      <rule action="exclude" column="SectionStatusID2" position="contains" value="A"/>
      <rule action="exclude" column="SectionStatusID4" position="contains" value="M"/>
      <rule action="exclude" column="SectionStatusID4" position="contains" value="N"/>
    </classFlags>
  </ctcOdsApiSettings>

  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
    <standardEndpoints>
      <webHttpEndpoint>
        <!--
            Configure the WCF REST service base address via the global.asax.cs file and the default endpoint
            via the attributes on the <standardEndpoint> element below
        -->
        <standardEndpoint name="" helpEnabled="true" automaticFormatSelectionEnabled="true"/>
      </webHttpEndpoint>
    </standardEndpoints>
  </system.serviceModel>

</configuration>
