<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ctcOdsApiSettings" type="Ctc.Ods.Config.SettingsConfigHandler, CtcOdsApi" />
  </configSections>
  <connectionStrings>
    <add name="OdsContext" connectionString="Data Source=MSSQL-D01\DevMSSQL2008;Initial Catalog=ODS;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="ClassScheduleDb" connectionString="metadata=res://*/Models.ClassScheduleDb.csdl|res://*/Models.ClassScheduleDb.ssdl|res://*/Models.ClassScheduleDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MSSQL-D01\DevMSSQL2008;initial catalog=ClassSchedule;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Elmah.Sql" connectionString="data source=MSSQL-D01\DevMSSQL2008;initial catalog=Elmah;integrated security=True;" />
  </connectionStrings>
  <ctcOdsApiSettings>
    <classFlags lateStartDaysCount="8" online="3" hybrid="8" telecourse="1" continuousEnrollment="C">
      <!-- These flags are defined at https://tfs.wacollabcoop.org/sites/BellevueCollege/ODSAPI/Team%20Wiki/How%20Section%20data%20is%20managed%20in%20ODS%20(HP).aspx -->
      <rule action="exclude" column="SectionStatusID1" position="contains" value="X" />
      <rule action="exclude" column="SectionStatusID1" position="contains" value="Z" />
      <rule action="exclude" column="SectionStatusID4" position="contains" value="M" />
      <rule action="exclude" column="SectionStatusID4" position="contains" value="N" />
    </classFlags>
    <regex CommonCourseChar="&amp;" />
    <yearQuarter minValue="0000" maxValue="Z999" registrationLeadDays="14" cache="60" />
    <waitlist status="W-LISTED" />
    <lateStartDefinition daysCount="8" />
    <sectionDaysDefault valueToReplace="ARRANGED" newValue="Arranged" />
  </ctcOdsApiSettings>
  <appSettings>
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="elmah.mvc.disableHandler" value="false" />
    <add key="elmah.mvc.disableHandleErrorFilter" value="false" />
    <add key="elmah.mvc.requiresAuthentication" value="true" />
    <add key="elmah.mvc.allowedRoles" value="Developers" />
    <add key="elmah.mvc.route" value="elmah" />
    <!-- CTC Class Schedule Settings -->
    <add key="currentSchoolUrl" value="http://bellevuecollege.edu" />
    <add key="courseOutcomesUrl" value="http://bellevuecollege.edu/courseoutcomes" />
    <add key="collegeCode" value="080" />
    <add key="collegeName" value="Bellevue College" />
    <add key="IncludeCourseOutcomes" value="true" />
    <!-- CTC Class Schedule roles -->
    <add key="ApplicationDeveloper" value="Developers" />
    <add key="ApplicationAdmin" value="InApp-Classes-Admin,Developers" />
    <add key="ApplicationEditor" value="InApp-Classes-Schedule-Editors,InApp-Classes-Admin,Developers" />
    <!-- CTC Class Schedule Caching settings for views in seconds -->
    <add key="IndexCacheTime" value="0" />
    <add key="AllClassesCacheTime" value="0" />
    <add key="SubjectCacheTime" value="0" />
    <add key="YearQuarterCacheTime" value="0" />
    <add key="YearQuarterSubjectCacheTime" value="0" />
    <add key="ClassDetailsCacheTime" value="0" />
    <!-- CTC ODS API settings -->
    <add key="CourseDescriptionHandler" value="Ctc.Ods.Customizations.BellevueCollegeCourseDescriptionStrategy" />
    <add key="CurrentDateOverride" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>