<?xml version="1.0"?>
<!--
This file is part of CtcClassSchedule.

CtcClassSchedule is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

CtcClassSchedule is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with CtcClassSchedule.  If not, see <http://www.gnu.org/licenses/>.
-->
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="ctcAutomatedFootnoteSettings" type="CTCClassSchedule.AutomatedFootnotesSection"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CTCClassSchedule.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <section name="ctcOdsApiSettings" type="Ctc.Ods.Config.SettingsConfigHandler, CtcOdsApi"/>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah"/>
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah"/>
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah"/>
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah"/>
    </sectionGroup>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>
    <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
    <section name="system.identityModel.services" type="System.IdentityModel.Services.Configuration.SystemIdentityModelServicesSection, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
    <section name="kentor.authServices" type="Kentor.AuthServices.Configuration.KentorAuthServicesSection, Kentor.AuthServices"/>
  </configSections>
  <appSettings configSource="_configSource\AppSettings.config"/>
  <ctcOdsApiSettings>
    <classFlags lateStartDaysCount="8" online="3" hybrid="8" telecourse="1" continuousEnrollment="C">
      <!-- These flags are defined at https://github.com/shawn-bellevuecollege/ctcClassSchedule/wiki/Section-data-in-ODS -->
      <rule action="exclude" column="SectionStatusID1" position="contains" value="X"/>
      <rule action="exclude" column="SectionStatusID1" position="contains" value="Z"/>
      <rule action="exclude" column="SectionStatusID4" position="contains" value="M"/>
      <rule action="exclude" column="SectionStatusID4" position="contains" value="N"/>
    </classFlags>
    <regex CommonCourseChar="&amp;"/>
    <yearQuarter minValue="0000" maxValue="Z999" registrationLeadDays="14" cache="60"/>
    <waitlist status="W-LISTED"/>
    <lateStartDefinition daysCount="8"/>
    <sectionDaysDefault valueToReplace="ARRANGED" newValue="Arranged"/>
  </ctcOdsApiSettings>
  <ctcAutomatedFootnoteSettings>
    <add name="startDate" text="Class starts {STARTDATE}." stringFormat="M/d"/>
    <add name="endDate" text="Class ends {ENDDATE}." stringFormat="M/d"/>
    <add name="differentStartAndEndDates" text="Class meets {STARTDATE} - {ENDDATE}." stringFormat="M/d"/>
    <add name="identicalStartAndEndDates" text="Class meets on {STARTDATE}." stringFormat="M/d"/>
    <add name="hybrid" text="Section HYA is a hybrid class. On campus sessions meet on the days listed. The balance of instruction occurs online as directed by the course syllabus."/>
    <!-- updated on 7/29/14 <add name="hybrid" text="Hybrid class: On campus sessions meet on the days listed. The balance of instruction occurs online as directed by the course syllabus."/>-->
    <add name="telecourse" text="This section is a telecourse."/>
  </ctcAutomatedFootnoteSettings>
  <connectionStrings configSource="_configSource\ConnectionStrings.config"/>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <!-- The setting below handles non-MVC errors. See Global.asax.cs for MVC error handling -->
    <!-- <customErrors mode="On" defaultRedirect="~/Error.aspx">
      <error statusCode="404" redirect="/customErrors/404.asp" />
    </customErrors>
    -->
    <customErrors mode="Off"/>
    <authentication configSource="_configSource\Authentication.config"/>
    <compilation targetFramework="4.7" debug="true">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Helpers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.WebPages, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
        <add namespace="CTCClassSchedule"/>
      </namespaces>
    </pages>
    <httpRuntime requestValidationMode="2.0" requestPathInvalidCharacters=""/>
    <membership>
      <providers>
        <clear/>
        <!-- Uncomment this line for standard Forms Authentication
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
        -->
      </providers>
    </membership>
    <roleManager configSource="_configSource\RoleManager.config"/>
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <!-- CTC Class Schedule Caching settings for views in seconds -->
          <add name="IndexCacheTime" duration="0" varyByParam="*"/>
          <add name="AllClassesCacheTime" duration="0" varyByParam="*"/>
          <add name="SubjectCacheTime" duration="0" varyByParam="*"/>
          <add name="YearQuarterCacheTime" duration="0" varyByParam="*"/>
          <add name="YearQuarterSubjectCacheTime" duration="0" varyByParam="*"/>
          <add name="ClassDetailsCacheTime" duration="0" varyByParam="*"/>
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
    <trace writeToDiagnosticsTrace="true" enabled="true" pageOutput="false"/>
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah"/>
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah"/>
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah"/>
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler"/>
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler"/>
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler"/>
      <!-- Module necessary for Kentor AuthServices SAML plugin -->
      <add name="SessionAuthenticationModule" type="System.IdentityModel.Services.SessionAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    </modules>
  </system.webServer>
  <!-- Kentor AuthServices SAML plugin for ADFS authentication and identity services info -->
  <kentor.authServices configSource="_configSource\KentorAuthentication.config"/>
  <system.identityModel.services>
    <federationConfiguration>
      <cookieHandler requireSsl="true" name="ClassesApplicationAuth"/>
    </federationConfiguration>
  </system.identityModel.services>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.1" newVersion="4.0.0.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <CTCClassSchedule.Properties.Settings>
      <setting name="QuartersToDisplay" serializeAs="String">
        <value>-4</value>
      </setting>
      <setting name="ClassFootnotesHP" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ClassFootnotesCMS" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ClassFootnotesBoth" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SectionFootnotesHP" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SectionFootnotesCMS" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SectionFootnotesBoth" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FacultyLinkURL" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FacultyLinkEmail" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FacultyLinkNone" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SeatUpdatedDateTimeFormat" serializeAs="String">
        <value>h:mm tt M/d</value>
      </setting>
    </CTCClassSchedule.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_CourseOutcomes" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="Windows" negotiateServiceCredential="true"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://www.bellevuecollege.edu/ws/courseoutcomes/Service1.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_CourseOutcomes" contract="IService1" name="WSHttpBinding_CourseOutcomes"/>
    </client>
  </system.serviceModel>
  <elmah>
    <!--
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for
        more information on remote access and securing ELMAH.
    -->
    <security allowRemoteAccess="true"/>
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="Elmah.Sql" applicationName="ClassScheduleDev"/>
    <errorMail configSource="_configSource\ElmahMail.config"/>
  </elmah>
  <location path="elmah.axd" inheritInChildApplications="false">
    <system.web>
      <httpHandlers>
        <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah"/>
      </httpHandlers>
      <authorization configSource="_configSource\ElmahAuthorization.config"/>
    </system.web>
    <system.webServer>
      <handlers>
        <add name="ELMAH" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode"/>
      </handlers>
    </system.webServer>
  </location>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog20">
        <arg key="configType" value="FILE"/>
        <arg key="configFile" value="~/_configSource/NLog.config"/>
      </factoryAdapter>
    </logging>
  </common>
  <system.net>
    <mailSettings>
      <smtp configSource="_configSource\Smtp.config"/>
    </mailSettings>
  </system.net>
</configuration>