<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
		<customErrors mode="On" xdt:Transform="SetAttributes" />
	</system.web>

	<casClientConfig xdt:Transform="Replace"
									 casServerLoginUrl="https://fa.bellevuecollege.edu:8443/cas/login"
									 casServerUrlPrefix="https://fa.bellevuecollege.edu:8443/cas/"
									 serverName="http://bellevuecollege.edu/classesqa"
									 notAuthorizedUrl="~/Home/NotAuthorized"
									 cookiesRequiredUrl="~/Home/CookiesRequired"
									 redirectAfterValidation="true"
									 gateway="false"
									 renew="false"
									 singleSignOut="true"
									 ticketTimeTolerance="5000"
									 ticketValidatorName="Cas20"
									 proxyTicketManager="CacheProxyTicketManager"
									 serviceTicketManager="CacheServiceTicketManager"
									 gatewayStatusCookieName="CasGatewayStatus" />

  <elmah xdt:Transform="Replace">
    <security allowRemoteAccess="true" />
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="Elmah.Sql" applicationName="ClassScheduleQA"/>
  </elmah>
  <common>
    <logging xdt:Transform="Replace">
      <factoryAdapter type="Common.Logging.Elmah.ElmahLoggerFactoryAdapter, Common.Logging.Elmah">
        <arg key="MinLevel" value="Info" />
      </factoryAdapter>
    </logging>
  </common>

</configuration>