	<div id="bc-top">
		<ul id="skiplinks">
			<li><a href="#content">Skip to Content</a></li>
			<li><a href="#site-navigation">Skip to Navigation</a></li>
		</ul>
		<div id="smallhead-wrap">
			<div id="smallhead">
				<div id="bc-logo">
					<a href="http://bellevuecollege.edu/">
						<img height="24" width="243" alt="Bellevue College (with link to home page)" src="/globals/btheme_v0.1/img/bellevuecollege-idbar.png"/>
					</a>
				</div>
				<ul class="top-actions">
			<li class="top-actions"><a href="http://bellevuecollege.edu/enrollment/registration/register/" class="top-actions">Register</a></li>
					<li class="top-actions"><a href="http://bellevuecollege.edu/services/" class="top-actions">Online Services</a></li>
	        <li class="top-actions"><a href="https://mybcc.net/" class="top-actions"><i>My</i>BC</a></li>
			</ul>
			</div>
		</div>
	</div>
