<?xml version="1.0"?>
<roleManager enabled="true" defaultProvider="ActiveDirectory">
  <providers>
    <clear />
    <!-- Uncomment this block for standard Forms Authentication
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
        -->
    <add name="ActiveDirectory" type="CtcApi.Web.Security.ActiveDirectoryRoleProvider" domain="" groupMode="" connectionString="" />
  </providers>
</roleManager>
