<appSettings>
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="elmah.mvc.disableHandler" value="false" />
  <add key="elmah.mvc.disableHandleErrorFilter" value="false" />
  <add key="elmah.mvc.requiresAuthentication" value="true" />
  <add key="elmah.mvc.allowedRoles" value="Developers" />
  <add key="elmah.mvc.route" value="elmah" />
<!-- CTC Class Schedule Settings -->
  <add key="currentSchoolUrl" value="" />
  <add key="courseOutcomesUrl" value=""/>
  <add key="collegeCode" value=""/>
  <add key="collegeName" value=""/>
  <add key="IncludeCourseOutcomes" value="true" />
<!-- CTC Class Schedule roles -->
  <add key="ApplicationDeveloper" value="AD-Group" />
  <add key="ApplicationAdmin" value="AD-Group1,AD-Group2" />
  <add key="ApplicationEditor" value="AD-Group1,AD-Group2,AD-Group3" />
<!-- CTC Class Schedule Caching settings for views in seconds -->
  <add key="IndexCacheTime" value="0"/>
  <add key="AllClassesCacheTime" value="0"/>
  <add key="SubjectCacheTime" value="0"/>
  <add key="YearQuarterCacheTime" value="0"/>
  <add key="YearQuarterSubjectCacheTime" value="0"/>
  <add key="ClassDetailsCacheTime" value="0"/>
<!-- CTC ODS API settings -->
  <add key="CourseDescriptionHandler" value="Ctc.Ods.Customizations.DefaultCourseDescriptionStrategy" />
  <add key="CurrentDateOverride" value=""/>
</appSettings>