@using CTCClassSchedule.Models
@using Ctc.Ods.Types
@model AllClassesModel

@{
    ViewBag.PageTitle = "All Class Descriptions at Bellevue College";
}
<div id="scheduleMain">
  @Html.Partial("quarterNavigation", new QuarterNavigationModel { CurrentQuarter = Model.CurrentQuarter, NavigationQuarters = Model.NavigationQuarters })
  <div id="container" class="sidebar">
    <div id="sidebar">
      @Html.Partial("basicFacetedSearch", Model.NavigationQuarters)
    </div> <!-- #sidebar -->

    <div id="content">
      <h1 id="pageTitle">All Credit Classes &amp; Descriptions</h1>

      @Html.Partial("a_to_z", new AToZViewModel { LettersList = Model.LettersList, ViewingLetter = Model.ViewingLetter })
      @Html.Partial("subjectList", Model.Subjects)
    </div> <!-- #content -->

  </div> <!-- #container -->
</div>