@model System.Web.Mvc.HandleErrorInfo
<!DOCTYPE html>

<html>
<head>
    <title>Oops, an error has occurred</title>
</head>
<body>
    <h2>Oops, an error has occurred</h2>
		<div>
        @if (Model != null)
				{
					<p><strong>Controller:</strong> @Model.ControllerName</p>
					<p><strong>Action:</strong> @Model.ActionName</p>
					<p>@Model.Exception.ToString()</p>
				}
				else
				{
					if (Application["LastError"] != null)
					{
						<p>@((Application["LastError"] as Exception).ToString())</p>
					}
					else
					{
						<p>An error occurred, but there is no error information!</p>
					}
				}
    </div>
</body>
</html>
