@model CTCClassSchedule.Models.AToZViewModel
@{
	// construct the route values we'll pass to the ActionLink helper
	IDictionary<string, object> routeParms = ViewBag.LinkParams;
	string Action = ViewContext.RouteData.Values["Action"].ToString();

    routeParms.Remove("letter");
}

<nav>
    <!--<ul class="pagination pagination-sm">-->
    <ol class="breadcrumb">
    @if (Model.ViewingLetter == null)
    {
        @:<li class="active">View all</li>
    }
    else
    {
        @:<li>@Html.ActionLink("View all", Action, new RouteValueDictionary(routeParms))</li>
    }
        
  @{
    routeParms.Add("letter", string.Empty);
  }

  @foreach (char letter in Model.LettersList.OrderBy(c => c))
  {
    routeParms["letter"] = letter.ToString();
    
    if(letter.Equals(Model.ViewingLetter)) {
        @:<li class="active">@letter.ToString()</li>
    } 
    else
    {
        @:<li>@Html.ActionLink(letter.ToString(), Action, new RouteValueDictionary(routeParms))</li>
    }
  }

  @{
    routeParms.Remove("letter");
  }
    </ol>
</nav>