@using Ctc.Ods.Types
@model YearQuarter
@{
  string linkID = string.Format("change_subject-{0}", Guid.NewGuid());
  
	IDictionary<string, object> routeParms = new Dictionary<string, object>(Request.QueryString.Count + 2);
	routeParms.Add("format", string.Empty);
	routeParms.Add("YearQuarter", Model != null ? Model.FriendlyName.Replace(" ", string.Empty) : "All");

	// TODO: move building the query string collection into the controller
	foreach(string key in Request.QueryString.AllKeys)
	{
	  if (key != null)
	  {
	    if (!routeParms.Keys.Contains(key))
	    {
	      routeParms.Add(key, Request.QueryString[key]);
	    }
	    else
	    {
	      routeParms[key] = Request.QueryString[key];
	    }
	  }
	}
}

@Ajax.ActionLink("Change subject",
                  "YearQuarter",
							    "Classes",
							    new RouteValueDictionary(routeParms),
							    new AjaxOptions
							    {
								    UpdateTargetId = "nav-choose-subjects",
								    HttpMethod = "POST",
								    InsertionMode = InsertionMode.Replace,
								    OnBegin = "$('#nav-choose-subjects').dialog('open'); $('.ui-widget-overlay').on('click', function () { $('#nav-choose-subjects').dialog('close'); });",
                                    OnComplete = "fluidDialog();"
							    },
                  new { id = linkID })
    
  <script type="text/javascript">
    /* subject chooser pop-up dialog */
    $(document).ready(function () {
      var href_value = "@Html.Raw(Url.Action("Subjects", "Api", new RouteValueDictionary(routeParms)))";
      $("#@linkID").attr('href', href_value);
    });
  </script>

@* Ensure that only one instance of the code, etc. is included in the page *@
@if (!Convert.ToBoolean(ViewBag.SubjectChooserDisplayed))
{
  <div id="nav-choose-subjects" title="Select new course subject"></div>
  <input type="hidden" id="javascriptEnabled" value="0" />

  <script type="text/javascript">
    /* subject chooser pop-up dialog */
      $(document).ready(function () {
          $(function () {
              var href_value = "@Html.Raw(Url.Action("Subjects", "Api", new RouteValueDictionary(routeParms)))";
              $("#change_subject").attr('href', href_value);
          })
    });
  </script>
  
  ViewBag.SubjectChooserDisplayed = true;
}