body
{
	background-color: #fff;
    font-size: 13px;
    line-height: 21px;
    color: #222;
}

h1 {
    font-size: 27px;
    line-height: 28px;
}

h2{
	font-size: 21px;
    margin-top: 21px;
}

h3{
	font-size: 15px;
	font-weight: bold;
}
a{
	color: #003d79;
}
a:visited {
    color: #003d79;
}
a:hover,  a:active {
	color: #0281ff;
}
strong { font-weight: bold;
}
abbr:hover {
    cursor: help;
    border-bottom: 1px dotted #ccc;}

#bodyWrapper
{
	font-family: Helvetica, Arial,  Sans-Serif;
	background-color: #fff;
	margin-right: auto;
	margin-left: auto;
	width: 960px;
}


/* beta section */
#betaBar
{
	background-color: #FAFAD2;
	height: 36px;
	font-size: 14px;
	line-height: 36px;
}

#betaBarWrapper
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}

#betaInfo
{
	display: inline;
	padding-left: 250px;
}

#betaFeedback
{
	float: right;
	width: 150px;
	padding-top: 5px;
}


/*end beta section */

header, footer, nav, section
{
	display: block;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset
{
	border: 1px solid #ddd;
	padding: 0 1.4em 1.4em 1.4em;
	margin: 0 0 1.5em 0;
}

legend
{
	font-size: 1.2em;
	font-weight: bold;
}

textarea
{
	min-height: 75px;
}

.editor-label
{
	margin: 1em 0 0 0;
}

.editor-field
{
	margin: 0.5em 0 0 0;
}



/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
	color: #ff0000;
}

.field-validation-valid
{
	display: none;
}

.input-validation-error
{
	border: 1px solid #ff0000;
	background-color: #ffeeee;
}

.validation-summary-errors
{
	font-weight: bold;
	color: #ff0000;
}

.validation-summary-valid
{
	display: none;
}

.class_month ul
{
	border-bottom: 1px solid #ccc;
	padding-left: 0px;
	margin-top: 2px;
	margin-bottom: 4px;
}

.class_month ul li
{
	display: inline;
	padding-left: 10px;
	color: #ccc;
}

.class_month ul.table_row li
{
	color: #000;
}

.class_month ul li.col1
{
	width: 100px;
}

.class_month ul li.col3
{
	width: 200px;
	min-width: 200px;
}



#a_to_z
{
	text-align: center;
}

.classInfo h2 {
    font-size: 15px;
    font-weight: bold;
}
.classInfo p { width: 600px;}
#classInfoWrap {}


.classInfo .classNumber, .classInfo .classTitle, .classInfo .classCredits{}

.classInfo .classCredits{}

.classInfo .classDescription{}

.classDetailsLink {}

.classNumber a
{
	text-decoration: none;
}

.programWebsite
{
	font-size: 12px;


}







#classformat { margin-bottom: 21px;}
#classformat label,
#availability-facet label  { color: #003d79;}
#times { margin-bottom: 14px}
#days { margin-bottom: 21px;}


/*END JU NEW definitions*/

#titlebar {
    height: 62px; width: 960px; margin: 0 auto;}

#sitename {
    font-size: 34px;
    line-height: 34px;
    padding: 21px 0 0 20px
    }
#sitename a {
    color: #333;
    text-decoration: none;
    }
#sitename a:hover, #sitename a:focus {
    color: #0281ff;
    }
#advancedFacetedSearch ul li,
#basicFacetedSearch ul li {
	padding: 0 5px 0 19px; /*ju*/
}



#scheduleContent {
	margin-left: 190px;
	padding-top: 28px;
	padding-bottom: 35px;
  /*  overflow: hidden;  messes up chrome's display... */
}

#sidebar {
    float: left;
    width: 160px;
    }
.sidenav
{
	display: block;
	border: 1px solid #999;
    margin: 28px 0 35px;
	font-size: 12px;
	line-height: 21px;
    color: #333;
    clear: left;
}
.sidenav h2 {
    background-color: #999;
    padding: 0 0 0 19px;
    color: White;
    font-size: 12px;
    margin: 0 0 20px 0;
}

.sidenav ul {
	margin-bottom: 21px;
}


#scheduleMain { /*TO DELETE, create an empty called pagewrapper */
	float: left;
	width: 100%;
}


#container { overflow: hidden; padding-bottom: 35px;
    padding-top: 28px;}


#container.nosidebar{}
#container.sidebar{}
#container.home{}
#content { padding: 0 20px;}
#sidebar {}

#container.sidebar #content {
    float: left;
    width: 760px;
		background-color: #fff;
}
#pageTitle {}




li.subject { list-style-type: none;}


.aside{
	width: 240px;
	float: right;
}

#class-details {
    width: 600px;
}

#allSectionsbyQuarter {
    float
}


#programWebsite { }

#programWebsite h2 {
    font-size: 13px; font-weight: bold;}

#thanksMsg {
	padding: 10px;
	border: 1px solid #000;
}
#thanksMsg h2 { margin-top:0;}


#bigfoot
{
	clear: left;
}

/* nav container */

#navcontainer
{
	margin-bottom: 20px;
	clear: both;
}

#navcontainer ul
{
	padding-left: 0;
	margin-left: 0;
	color: #000;
	float: left;
	width: 100%;
	font-family: arial, helvetica, sans-serif;
	border-bottom: 1px solid #000;
}

#navcontainer ul li
{
	display: inline;
}

#navcontainer ul li.active a
{
	background-color: #fff;
}

#navcontainer ul li a
{
	padding: 0.2em 1em;
	background-color: #ccc;
	color: #000;
	text-decoration: none;
	float: left;
	margin: 5px;
	margin-bottom: 0px;
	border: 1px solid #000;
	border-bottom: none;
}

#navcontainer ul li a:hover, #navcontainer ul li.active a:hover{
	background-color: #369;
	color: #fff;
}

#site-navigation {
	height: 31px;
	clear: both;
	margin-top: 0px;
    position: relative;
}

#browse
{
	display: inline;
}
#browse a {
    float: left;
	width: 160px;
	height: 31px;
    line-height: 31px;
    text-align: center;
    color: #fff;
    background-color: #999;
    font-weight: bold;
    border-right: 3px solid #fff;
}
#browse a:hover, #browse a:focus { background-color: #003d79;}

#search{
	float: left;
	height: 31px;
	padding: 0 0 0 17px;
    width: 697px;
    color: #fff;
    background-color: #999;
    line-height: 31px;
}
#search-text { font-weight: bold; padding-right: 5px;}
#search-tip {
    background: url("images/search-tip-arrow.png") no-repeat scroll left 7px White;
    color: #444444;
    display: block;
    font-size: 12px;
    height: 22px;
    left: 435px;
    line-height: 21px;
    padding-left: 35px;
    position: absolute;
    top: -23px;
    width: 450px;
}

#site-navigation label { position: absolute; left: -9999px; top: -9999px}

#seach-quarter-select {
	margin-right: 6px;
    width: 180px;
}

#searh-keyword {
	height: 16px;
    margin-right: 5px;
    padding: 0 10px;
    width: 360px;
}


#site-navigation #search input.searchSubmit
{
	width: 50px;

}

#register
{
	float: left;
    display: inline;
}


#register a
{
	float: left;
    display: block;
    width: 80px;
	padding: 0;
	height: 31px;
    line-height: 31px;
	border-left: 3px solid #fff;
	color: #fff;
	background-color: #999;
    font-weight: bold;
	text-decoration: none;
    text-align: center;
}
#register a:hover, #register a:focus { background-color: #003d79;}

#register a:hover
{
	text-decoration: underline;
}




/* end nav container */


.active
{
	font-weight: bold;
}

li.active
{
	list-style-image: url(images/right_small_arrow.png);
	margin-left: 20px;
}

li.active a, li.active .notlink
{
	margin-left: -20px;
    text-decoration: none;
}


.clear-right
{
	clear: right;
}

.clear-left
{
	clear: left;
}

.clear-both, .clearer
{
	clear: both;
}
/* Error message styling */

#ErrorMsg
{
	-moz-background-clip: border;
	-moz-background-inline-policy: continuous;
	-moz-background-origin: padding;
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	overflow: hidden;
	background: #FFDFDF none repeat scroll 0 0;
	border: 1px solid #F3AFB5;
	margin: 0 0 1.5em;
	padding: 0 1.5em;
	margin-top: 0px;
}

#ErrorMsg h3
{
	font-size: 1.5em;
	line-height: 1.2;
	margin-bottom: 0.476em;
	font-weight: bold;
}


#ErrorMsg ul
{
	margin: 0 0 1.5em;
	padding: 0;
}

#ErrorMsg ul li
{
	-moz-background-clip: border;
	-moz-background-inline-policy: continuous;
	-moz-background-origin: padding;
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	background: #F6BEC1 none repeat scroll 0 0;
	font-size: 0.85em;
	margin: 0 0 3px 1.5em;
	padding: 7px;
	position: relative;
}


/* End error message styling */


/****** START SCHEDULE BLOCK CODE ******/

#NotOfferedThisQuarter {
	background-color: #eee;
    margin-top: 21px;
    padding: 14px 20px 21px 20px;
}

#NotOfferedThisQuarter h2
{
    font-weight: bold;
    font-size: 15px;
    margin-top: 0;
}
#NotOfferedThisQuarter li {
    padding-top: 14px;
}
#NotOfferedThisQuarter a {
    font-weight: bold;
}

h2.course-title, h3.course-title
{
	font-size: 15px;
	line-height: 21px;
	margin: 21px 0 0 0;
}
p.prerequisite
{
	margin: 0;
	font-size: 12px;
	color: #666;
}
p.prerequisite a
{
	color: #666;
}

p.course-details-link
{
	margin: 0;
	font-size: 12px;
}

.course-block
{
	font-size: 12px;
	list-style: none;
	margin: 0;
	padding-top: 21px;  /*ju */
	background:  url(images/course-block-header.png) 0 9px no-repeat;  /*new*/
	margin-bottom: 8px;

}

.course-block-past-quarter
{
	background:  url(images/course-block-header-noseats.png) 0 9px no-repeat;
}

.course-block-no-section
{
	font-size: 12px;
	list-style: none;
	margin: 0;
	padding-top: 21px;  /*ju */
	background:  none;  /*new*/
	margin-bottom: 8px;
	margin-left: 190px;
	line-height: 14px;

}

.course-YRQ
{
	/* no styles currently specified */
}

.course-YRQ-past-quarter
{
	/* no styles currently specified */
}

.section-listing
{
	border-top: 1px solid #eee;
	width: 770px;  /*JU*/
	overflow: hidden;
}

li.section-listing
{
	padding-top: 5px;
	padding-bottom: 5px;
	list-style: none;
}

.item-number
{
	display: block;
	float: left;
	width: 45px;

}

.class-number
{
	display: block;
	float: left;
	width: 100px;
	height: 70px;

}

ul.class-description
{
	height: 70px;
	float: right;
	width: 580px;
	padding-right: 70px;
}

.section-details
{
	float: left;
	width: 725px; /*ju*/
	overflow: hidden;
}

.section, .instructor, .meets, .days, .times, .room, .availability, .online, .tv
{
	display: block;
	float: left;
}



.section
{
	width: 50px; /*ju*/
	clear: left;
}
.instructor
{
	width: 140px;
}
.meets
{
}
.meets li
{
	clear: left;
}
.days
{
	width: 76px;
}
.times{
	width: 120px;
    text-transform: lowercase;}

.room
{
	width: 80px;
}
.online, .tv
{
	width: 276px;
}
.seatsAvailable {}
.seatsFull {}


.cancelled
{
	background-color: #efefef;
	color: #666;
}
.cancelled a
{
	color: #666;
}

.course-updated
{
	font-size: 11px;
	color: #666;
}
.course-updated a
{
	font-weight: bold;
}

ul.section-details li.section-notes
{
	color: #666;

	padding-top: 3px;
	padding-bottom: 3px;
	clear: left;
}

.section-notes li
{
	display: inline;
}
.section-notes .label
{

}

.descriptor
{
	position: absolute;
	left: -9999px;
	top: -9999px;
}



/*END SCHEDULE BLOCK CODE*/




/*END COURSE DESCRIPTION BLOCK CODE*/
#courseOutcome li{
	background: url("images/right_small_arrow.png") no-repeat scroll 5px 8px transparent;
    line-height: 14px;
    list-style-type: none;
    padding: 3px 0 4px 20px;
}



/*END COURSE DESCRIPTION BLOCK CODE*/

.classDetails
{
}

.classHeading {
	font-size: 15px;
}
.classHeading a { text-decoration: none; font-weight: bold;}
.classHeading a:hover,
.classHeading a:focus { text-decoration: underline;}
.course-updated a:hover {
	cursor:pointer;
}

#courseDescription{}
#courseDescriptionUpcoming{ color: #666}
#courseDescriptionUpcoming h3 {
    font-size: 13px;
    margin-top: 21px;
}

#classes-footer {
	border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
	margin-top: 35px;
    overflow: hidden;
    background-color: #eee;
    clear: both;
}
#classes-footer h2 {
    position: absolute;
    left: -9999px;
    top: -9999px; }

#classes-footer h3 {
    font-size: 13px;
    font-weight: bold;
}
#classes-footer ul {
    font-size: 12px;
}

#classes-footer .block
{
	padding: 7px 19px 0 20px;
    width: 200px;
    float: left;
    border-right: 1px solid #ccc;
	height: 119px;
}

#classes-footer .first
{
	padding-left:19px;
    border-left: 1px solid #ccc;
}


#pageWrapper {}
/*  Front page css */

.homepage #content {padding: 0;}
#home-main-content{
	margin-top: 30px;
    overflow: hidden;
}

#browse-credit
{
	float: left;
	width: 640px;
}
#browse-credit h2 {
    margin: 0;
    padding: 0 0 7px 20px;
    font-size: 21px}


#browse-all {
	margin: 20px 0px 0px 30px;
	padding: 10px;
	color: #333;
	background-color: #eee;
	font-weight: bold;
	font-size: 15px;
	border: 1px solid #ddd;
	width: 140px;
	text-align: center;
	line-height: 20px;
}

#browse-all a:link,#browse-all a:visited
 {
	color: #000;
	text-decoration: none;
}

#browse-all a:hover {
	text-decoration: underline;
}

#browse-quarter{
	float: left;
	width: 200px;
	height: 140px;
	padding-left: 20px;
}

#browse-quarter  .choose-quarter
{
	color: #999;
	font-size: 13px;
}

#browse-quarter a {
    font-size: 15px;
	line-height: 28px;
    color: #003d79;
    font-weight: bold;
}

#browse-quarter a:hover, #browse-quarter a:focus {
	color: #0281FF;
}


#browse-divider
{
	float: left;
	width: 20px;
	height: 140px;
    padding-left: 22px;
}

#browse-all-classes{
	float: left;
	width: 300px;
    padding-left: 70px;
}
#browse-all-classes a {
    background: none repeat scroll 0 0 #FBFBFB;
    border: 1px solid #CCCCCC;
    display: block;
    padding: 13px 17px 15px;
    width: 9Em;
    font-size: 15px;
    text-decoration: none;
    color: #333;
}
#browse-all-classes a:hover, #browse-all-classes a:focus {
    color: white;
    border-color: #003d79;
    background-color: #003d79;
}


#printable-schedules{
	color: #999;
    clear: both;
	float: left;
	padding-left: 20px;
	padding-top: 14px;
	width: 500px;
}

#printable-schedules a { color: #999}
#printable-schedules a:hover,
#printable-schedules a:focus {
    color: #0281FF;
}

#other-classes {
    float: left;
    width: 320px;
    padding: 0;
    }
#other-classes h2 { font-size: 15px; padding: 0 20px 7px 20px; margin: 0}
#other-classes h3 { font-size: 13px; border-left: 1px solid #ccc; padding: 0 20px 0 19px; }
#other-classes h3 .low-emphasis { font-weight: normal; font-size: 12px; }
#other-classes p {color: #333;border-left: 1px solid #ccc; padding: 0 20px 14px 19px;}
#other-classes p a {
    color: #0281FF;}

#middle { display: none;}
#middleleft
{
	float: left;
	height: 350px;
	width: 710px;

}

#middleleft .advertise
{
	float: right;
	font-size: 12px;
	padding-right: 108px;
	padding-top: 5px;
	color: #999;

}

#middleright
{
	float: left;
	height: 350px;
	width: 230px;
	padding: 10px;

	font-weight: bold;
	font-size: 12px;
	line-height: 18px;
}

#middleright ul
{
	margin-left: 20px;
}


#middleright li
{
	list-style: disc;
}

/*  Front page css ends */


/* facet css  */

#days, #classformat, #times
{
	padding-left: 19px;
}
.day
{
	width: 18px;
	float: left;

}

.daylabel
{
	display: block;
    font-weight: bold;
    line-height: 14px;
    margin-left: 3px;
    text-align: center;
    color: #003d79;
}
.daylabel abbr {cursor: help;}
.weekend { font-weight: normal; color: #666}

#times {
	clear: both;
    overflow: hidden;
    margin: 7px 0 14px;
}

#timestart, #timeend {
	width: 40px;
    padding: 0 5px;
    height: 17px;
}
#times label { width: 52px; display: block; float: left;}
.time-separator {
    display: block;
    float: left;
    font-weight: bold;
    padding-top: 11px;
    text-align: center;
    width: 12px;}
.time-text {
    background-color: #F0F0F0;
    color: #003D79;
    display: block;
    font-size: 11px;
    line-height: 14px;
    text-align: center;
    width: 52px;}

#basicFacetedSearch h3,
#advancedFacetedSearch h3 {
	color: #333;
    font-weight: bold;
	font-size: 12px;
	line-height: 21px;
	padding: 0 5px 0 19px;
}


#submit_days_times
{
	margin: 14px 0 0 0;
}
/* end facet css */


#overlay
{
	display: none;
 width: 100%;
 height: 100%;
 min-height: 100%;
 background: #fff;
 position: absolute;
 top: 0;
 left: 0;

}

#lightbox
{
	display: none;
	width: 64px;
	height: 64px;
	position: absolute;
	top: 50%;
	left: 50%;
	/*margin: -431px 0 0 -455px;*/
	background: #fff;
}




#pager {
    border-top: 1px solid #D3D3D3;
    overflow: hidden;
    margin-top: 21px;
}

#pagerNums {
    text-align: center;
	font-weight: bold;
}

#pagerNums a
{
	color: #003D79;
    display: inline-block;
    padding: 0 4px;
    text-decoration: underline;
}
#pagerNums.selected {
    color: #003D79;
    display: inline-block;
    padding: 0 4px;
}
#pagerNums a:hover, #pagerNums a:focus {
    background-color: #003d79;
    color: White;
}
#pagerPages, #pagerArrowLeft, #pagerArrowRight {
    background-color: #F0F0F0;
    line-height: 20px;
    display: inline-block;
    padding: 0 8px;
}

#pagerPages{  padding-right: 4px;   }

#pagerArrowLeft {
    border-right: 1px solid white;
    text-decoration: none;
}

#pagerArrowRight {
    border-left: 1px solid white;
    text-decoration: none;
}

#pagerInfo
{
	width: 130px;
	margin-left: auto;
	margin-right: auto;
	font-weight: bold;
	margin-top: 10px;
}

#site-navigation #browse a,
#site-navigation #browse a:hover,
#site-navigation #browse a:active,
#site-navigation #browse a:visited
{
	color: #fff;
	text-decoration: none;
}

#site-navigation #browse a:hover
{
	text-decoration: underline;
}


#searchHeaderInfo { overflow: hidden;}

#searchResultsMsg
{
	display: inline;
    float: left;
    font-size: 13px;
    line-height: 21px;
    margin-top: 7px;
    min-width: 590px;
    width: 590px;

}

#searchPageNum
{
	float: right;
    margin-top: 7px;
}

.courseDescription em.keyword,
a em.keyword,
span.item-number em.keyword,
p.courseFootnotes em.keyword,
p.section-notes em.keyword,
div#NotOfferedThisQuarter em.keyword
{
	background-color: yellow;
}

.subjectchooser {
    font-size: 12px;
    line-height: 12px;
    padding-left: 5px;}
.subjectchooser a { color: #999}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }

/* css for subject chooser dialog */
div#nav-choose-subjects
{
	display: none;
	overflow: scroll;
}

a.ui-dialog-titlebar-close
{
	float: right;
}

.ui-dialog .ui-icon-grip-diagonal-se {
    margin: 0 0 0 auto;
}

div.subjects-letter h2
{
	clear: left;
}


.edit_button
{
	float: right;
	width: 53px;
	height: 20px;
	margin: 0px 5px;
	padding-left: 20px;
	background: transparent url(images/edit_button.png) top left no-repeat;
}

a.edit_button
{
	text-decoration: none;
}



#lastModifiedBy
{
	float: right;
	color: #777;
	font-size: .8em;
	margin-right: 10px;
}

.editor-label
{
	font-weight: bold;
}

.editor-field
{
	margin-top: 0px;
}

#edit-section fieldset
{
	border: none;
}

/* end section edit */


/* start program edit */
#ProgramEdit .left,
#ProgramEdit .right
{
	width: 420px;
	float: left;
}



#ProgramEdit .SubjectTextfield
{
	width: 380px;
}





/* end program edit */