body
{
		font-size: .85em;
		font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
		color: #232323;
		background-color: #fff;
		margin-right: auto;
		margin-left: auto;
		width: 960px;
}

header,
footer,
nav,
section {
		display: block;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset
{
		border:1px solid #ddd;
		padding:0 1.4em 1.4em 1.4em;
		margin:0 0 1.5em 0;
}

legend
{
		font-size:1.2em;
		font-weight: bold;
}

textarea
{
		min-height: 75px;
}

.editor-label
{
		margin: 1em 0 0 0;
}

.editor-field
{
		margin:0.5em 0 0 0;
}


a, a:hover, a:visited, a:active
{
	color: #3e6d99;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
		color: #ff0000;
}

.field-validation-valid
{
		display: none;
}

.input-validation-error
{
		border: 1px solid #ff0000;
		background-color: #ffeeee;
}

.validation-summary-errors
{
		font-weight: bold;
		color: #ff0000;
}

.validation-summary-valid
{
		display: none;
}

.class_month ul
{
	border-bottom: 1px solid #ccc;
	padding-left: 0px;
	margin-top: 2px;
	margin-bottom: 4px;

}

.class_month ul li
{
	display: inline;
	padding-left: 10px;

	color: #ccc;
}

.class_month ul.table_row li
{
	color: #000;
}

.class_month ul li.col1
{
	width: 100px;
}

.class_month ul li.col3
{
	width: 200px;
	min-width: 200px;
}

h2
{
	font-size: 18px;
	padding: 10px 0px;
}

h3
{
	font-size: 16px;
	padding: 10px 0px;
}

#a_to_z
{
	margin: 10px 0px;
}

.classInfo .classNumber ,
.classInfo .classTitle ,
.classInfo .classCredits
{
	float: left;
	margin-right: 10px;
}

.classInfo .classDescription
{
	padding: 10px 0px 25px 0px;
	clear: both;
}

.programWebsite
{
	margin: 20px 0px;
}


#scheduleMain
{
	float: left;
	width: 100%;
	margin-top: 40px;

}

#facetedSearch
{
	float: left;
	display: inline;
	border: 1px solid #555;
	width: 180px;
	height: 200px;
	padding: 10px;
	margin-right: 40px;
	margin-top: 20px;
}

#advancedFacetedSearch
{
	float: left;
	display: inline;
	border: 1px solid #555;
	width: 180px;
	height: 600px;
	padding: 10px;
	margin-right: 40px;
	margin-top: 20px;
}

#scheduleContent
{
	margin-left: 240px;

}

#bigfoot
{
	clear: left;
}

/* nav container */

#navcontainer
{
	margin-bottom: 20px;
	clear: both;
}

#navcontainer ul
{
padding-left: 0;
margin-left: 0;
color: #000;
float: left;
width: 100%;
font-family: arial, helvetica, sans-serif;
border-bottom: 1px solid #000;
}

#navcontainer ul li
{
	display: inline;

}

#navcontainer ul li#active a
{
	background-color: #fff;
}

#navcontainer ul li a
{
	padding: 0.2em 1em;
	background-color: #ccc;
	color: #000;
	text-decoration: none;
	float: left;
	margin: 5px;
	margin-bottom: 0px;
	border: 1px solid #000;
	border-bottom: none;
}

#navcontainer ul li a:hover,
#navcontainer ul li#active a:hover
{
	background-color: #369;
	color: #fff;
}

/* end nav container */

.subject
{
	margin: 5px 0px;
}