body
{
		font-size: .85em;
		font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
		color: #232323;
		background-color: #fff;
		margin-right: auto;
		margin-left: auto;
		width: 960px;
}

header,
footer,
nav,
section {
		display: block;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset
{
		border:1px solid #ddd;
		padding:0 1.4em 1.4em 1.4em;
		margin:0 0 1.5em 0;
}

legend
{
		font-size:1.2em;
		font-weight: bold;
}

textarea
{
		min-height: 75px;
}

.editor-label
{
		margin: 1em 0 0 0;
}

.editor-field
{
		margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
		color: #ff0000;
}

.field-validation-valid
{
		display: none;
}

.input-validation-error
{
		border: 1px solid #ff0000;
		background-color: #ffeeee;
}

.validation-summary-errors
{
		font-weight: bold;
		color: #ff0000;
}

.validation-summary-valid
{
		display: none;
}

.class_month ul
{
	border-bottom: 1px solid #ccc;
	padding-left: 0px;
	margin-top: 2px;
	margin-bottom: 4px;

}

.class_month ul li
{
	display: inline;
	padding-left: 10px;

	color: #ccc;
}

.class_month ul.table_row li
{
	color: #000;
}

.class_month ul li.col1
{
	width: 100px;
}

.class_month ul li.col3
{
	width: 200px;
	min-width: 200px;
}

h2
{
	font-size: 18px;
	padding: 10px 0px;
}

h3
{
	font-size: 16px;
	padding: 10px 0px;
}

#a_to_z
{
	margin: 10px 0px;
}