/* Grids */
/* @ryancollier - created 11/8/2010*/

.grid_half, .grid_third, .grid_fourth, .grid_threefourths {
    display:inline;
    float:left;
    margin-left:10px;
    margin-right:10px;
}

.grid_threefourths{width: 700px;}
.grid_half {width: 460px;}
.grid_third {width: 280px;}
.grid_fourth {width:220px;}


.first { margin-left: 0px }
.last {margin-right: 0px}
.clear {clear: both;}