<div id="a_to_z">
@* print out the ascii values for a-z  *@
@foreach (string let in ViewBag.Alphabet)
{
	<a href="/Classes@(ViewBag.YearQuarter_a_to_z)?type=beta@(ViewBag.queryStringNoLetter)&letter=@let.ToString()">@let.ToString()</a> <text>| </text>
}

<a href="/Classes@(ViewBag.YearQuarter_a_to_z)?type=beta@(ViewBag.queryStringNoLetter)">View All</a>
</div>