<div id="a_to_z">
@* print out the ascii values for a-z *@
@for (int i = 97; i < 123; i++)
{
	<a href="/Classes?letter=@Convert.ToChar(i)">@Convert.ToChar(i).ToString().ToUpper()</a> <text>| </text>
}

<a href="/Classes" class="grey">View All</a>
</div>