@model IEnumerable<char>
@{
	// construct the route values we'll pass to the ActionLink helper
	IDictionary<string, object> routeParms = ViewBag.LinkParams;
	string Action = ViewContext.RouteData.Values["Action"].ToString();
}
<p id="a_to_z">

@foreach (char lttr in Model)
{
	if (routeParms.Keys.Contains("letter")) {
		routeParms["letter"] = lttr.ToString();
	} else {
		routeParms.Add("letter", lttr.ToString());
	}

	@Html.ActionLink(lttr.ToString(), Action, new RouteValueDictionary(routeParms))
	@: |
}

@{
	routeParms.Remove("letter");
}
@Html.ActionLink("View All", Action, new RouteValueDictionary(routeParms))
</p>
