<div id="a_to_z">
@* print out the ascii values for a-z  *@
@foreach (string let in ViewBag.Alphabet)
{
	@* **************************************************************
	TODO:  Add the rest of the query parameters to these ActionLinks
	**************************************************************** *@
	@Html.ActionLink(let.ToString(), "Index", "Classes", new {letter = let.ToString(), type = "beta"}, null) <text>| </text>
}

@Html.ActionLink("View All", "Index", "Classes")
</div>