<div id="a_to_z">

@{
	// construct the route values we'll pass to the ActionLink helper
	IDictionary<string, object> routeParms = ViewBag.LinkParams;

	string Controller = ViewContext.RouteData.Values["Controller"].ToString();
	string Action = ViewContext.RouteData.Values["Action"].ToString();
}

@* print out the ascii values for a-z  *@
@foreach (string let in ViewBag.Alphabet)
{
	routeParms.Remove("letter");
	routeParms.Add("letter", let.ToString());

	@Html.ActionLink(let.ToString(), Action, new RouteValueDictionary(routeParms)) <text>| </text>


	@*Html.ActionLink(let.ToString(), Controller, Action, new RouteValueDictionary(routeParms), null) <text>| </text> 	*@


}

@{
	routeParms.Remove("letter");
}
@Html.ActionLink("View All", Action, new RouteValueDictionary(routeParms))
</div>


