@model IEnumerable<char>
@{
	// construct the route values we'll pass to the ActionLink helper
	IDictionary<string, object> routeParms = ViewBag.LinkParams;
	string Action = ViewContext.RouteData.Values["Action"].ToString();
}
<p id="a_to_z">
@if(Model.Count() > 0)
{
	routeParms.Remove("letter");
	if (ViewBag.WhichClasses.Length > 2)
	{
		@Html.ActionLink("View All", Action, new RouteValueDictionary(routeParms), new { @class = "selected" })
	}
	else
	{
		@Html.ActionLink("View All", Action, new RouteValueDictionary(routeParms))
	}

}
@foreach (char lttr in Model)
{
	if (routeParms.Keys.Contains("letter"))
	{
		routeParms["letter"] = lttr.ToString();
	}
	else
	{
		routeParms.Add("letter", lttr.ToString());
	}

	if (ViewBag.WhichClasses.Length < 2 && lttr.Equals(ViewBag.WhichClasses[0]))
	{
		@Html.ActionLink(lttr.ToString(), Action, new RouteValueDictionary(routeParms), new { @class = "selected" })
	}
	else
	{
		@Html.ActionLink(lttr.ToString(), Action, new RouteValueDictionary(routeParms))
	}
}

@{
	routeParms.Remove("letter");
}
</p>
