<div id="advancedFacetedSearch">
<h3>Subject</h3>
<a href="/">Choose a Subject</a>

<h3>Flexible options</h3>
<ul>
	<li>All</li>
	<li><a href="/">Online</a> </li>
	<li><a href="/">Hybrid</a> </li>
	<li><a href="/">Telecourse</a> </li>
	<li><a href="/">Reduced Trip</a> </li>
	<li><a href="/">Late-start</a> </li>
</ul>



<h3>Times</h3>
<ul>
	<li>All</li>
	<li><a href="/">Morning</a> (5am-noon)</li>
	<li><a href="/">Afternoon</a> (5am-noon)</li>
	<li><a href="/">Evening</a> (5am-noon)</li>
</ul>


<h3>Days</h3>
<ul>
	<li>All</li>
	<li><a href="/">Weekday</a></li>
	<li><a href="/">Weekend</a></li>
</ul>


<h3>Availability</h3>
<ul>
	<li>All</li>
	<li><a href="/">Open</a> </li>
	<li><a href="/">Waitlisted</a> </li>
	<li><a href="/">Cancelled</a> </li>
	<li><a href="/">Closed</a> </li>
</ul>

<h3>Classes Offered:</h3>
<ul>
	<li>All Credit Classes</li>
	<li><a href="/">Fall 2011</a></li>
	<li><a href="/">Summer 2011</a></li>
	<li><a href="/">Spring 2011</a></li>
</ul>




</div>