<div id="basicFacetedSearch">
	<h3>Subject</h3>
	<a href="/">Choose a Subject</a>

	<h3>Classes Offered:</h3>
	<ul>
		<li><a href="/Classes/All">All Credit Classes</a></li>
		<li><a href="/Classes/Fall2011">Fall 2011</a></li>
		<li><a href="/Classes/Summer2011">Summer 2011</a></li>
		<li><a href="/Classes/Spring2011">Spring 2011</a></li>
	</ul>

</div>