@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
</head>
<body>
    <h2>
       This is an Error page.
    </h2>
    <p>An error occurred while processing your request</p>
    <p><strong>We are embarrased.</strong></p>
    <p>Error code: 3D3N</p>
</body>
</html>