<div id="footer">
	<div id="footerSpacer"></div>
	<div class="grid_fourth first">
		<h2>
			Next Steps</h2>
		<ul>
			<li><a href="#">Register</a></li>
			<li><a href="#">Buy Books</a></li>
			<li>Not a student yet? <a href="">Apply Now</a></li>
		</ul>
	</div>
		<div class="grid_fourth">
		<h2>
			Important Information</h2>
		<ul>
			<li><a href="#">Final Exam Schedule</a></li>
			<li><a href="#">Important Dates and Deadlines</a></li>
		</ul>
	</div>
	<div class="grid_fourth">
		<h2>
			Need help planning?</h2>
		<ul>
			<li><a href="#">Schedule Planner</a></li>
			<li><a href="#">Degree Audit</a></li>
			<li><a href="#">Projected Annual Course Offerings</a></li>
			<li><a href="#">Advising Center</a></li>
		</ul>
	</div>
	<div class="grid_fourth last">
		<h2>
			Related information</h2>
		<ul>
			<li><a href="#">Academic Calendar</a></li>
			<li><a href="#">Tuition & Fees</a></li>
			<li><a href="#">Financial Assistance</a></li>
			<li><a href="#">Student Services</a></li>
		</ul>
	</div>
</div>
