<div id="classes-footer">
<h2>General Information</h2>
	<div class="block first">
		<h3>Next Steps</h3>
		<ul>
			<li><a href="http://bellevuecollege.edu/enrollment/registration/register/"><strong>Register</strong></a></li>
            <li><a href="http://bellevuecollege.edu/services/appointment.asp">When do I register?</a></li>
			<li><a href="http://bcc.collegestoreonline.com/"><strong>Buy Books</strong></a></li>
			<li>Not a student yet? <a href="http://bellevuecollege.edu/enrollment/admissions/apply/"><strong>Apply Now</strong></a></li>
		</ul>
	</div>
		<div class="block">
		<h3>Important Information</h3>
		<ul>
			<li><a href="http://bellevuecollege.edu/courses/exams/">Final Exam Schedule</a></li>
			<li><a href="http://bellevuecollege.edu/enrollment/calendar/deadlines/">Important Dates and Deadlines</a></li>
		</ul>
	</div>
	<div class="block">
		<h3>Need help planning?</h3>
		<ul>
			<li><a href="http://bellevuecollege.edu/services/welcome.asp">Schedule Planner</a></li>
			<li><a href="http://bellevuecollege.edu/degreeaudit/">Degree Audit</a></li>
			<li><a href="http://bellevuecollege.edu/courses/projected/">Projected Annual Course Offerings</a></li>
			<li><a href="http://bellevuecollege.edu/advising/">Advising Center</a></li>
		</ul>
	</div>
	<div class="block last">
		<h3>Related information</h3>
		<ul>
			<li><a href="http://bellevuecollege.edu/enrollment/calendar/">Academic Calendar</a></li>
			<li><a href="http://bellevuecollege.edu/enrollment/tuition/">Tuition & Fees</a></li>
			<li><a href="http://bellevuecollege.edu/enrollment/financial/">Financial Assistance</a></li>
			<li><a href="http://bellevuecollege.edu/resources/services/">Student Services</a></li>
		</ul>
	</div>
</div>
