@model IEnumerable<CTCClassSchedule.Common.SearchResultNoSection>
@using CTCClassSchedule.Common
@using Ctc.Ods.Types
@{
	string quarter = Request.QueryString["quarter"];
}
<div id="NotOfferedThisQuarter">
<h2>Classes not offered @quarter, but match your search:</h2>

<ul>
@foreach (var item in Model) {
	<li>
			<strong>
        <span class="courseID">@Html.DisplayFor(modelItem => item.CourseID)</span>
        <span class="courseTitle">@item.CourseTitle</span>
        <span class="courseCredits">&#8226; @Html.CreditsValue(item.Credits, "<span class='error'>UNK</span>") @* Remove any trailing zero-decimals *@
					<abbr title="Credit(s) ">Cr.</abbr>
				</span>
			</strong>
        <br />
        <span class="courseDescription">@Html.DisplayFor(modelItem => item.CourseDescription) </span>
	</li>
}
</ul>
</div>