@using Ctc.Ods.Types

<script type="text/javascript">
	$(document).ready(function () {
		function showThrobber() {
			var pageHeight = $(document).height();
			$('#overlay').css('height', pageHeight - 49 + 'px');
			$('#overlay').css('margin-top', 49 + 'px');
			$('#overlay').css('opacity', '0.5');
			$('#overlay').css('display', 'inherit');
			$('#lightbox').css('display', 'inherit');
		}

		//when user clicks refine, show throbber
		$('.searchSubmit').click(function () {
			showThrobber();
			$('#submitSearchForm').submit();
		});

	});
</script>
@{
	YearQuarter quarterViewing = ViewBag.YearQuarter;
}
<div id="site-navigation">
@using(Html.BeginForm("Index", "Search", FormMethod.Get, new { id = "submitSearchForm" })) {

	<div id="browse"><a href="@Url.Content("~/")">Browse Classes</a></div>
	<div id="search">
		<span id="search-text">Search</span>  <span id="search-tip">Tip: you can search by title, subject, courseid, item number or instructor.</span>
		<label for="seach-quarter-select">Pick a quarter</label>
        <select name="quarter" id="seach-quarter-select">
				@foreach (YearQuarter yrq in ViewBag.QuarterNavMenu)
		{
					<option value="@yrq.FriendlyName.Replace(" ", "")" @if (quarterViewing != null && quarterViewing == yrq) { <text> selected="selected" </text> }>@yrq.FriendlyName</option>
		}
			<option value="CE">Continuing Education</option>
		</select>
		<label for="searh-keyword">Keywords</label>
		<input type="text" class="searchInput" id="searh-keyword" name="searchterm" maxlength="40" value="@(Request.QueryString["searchterm"] ?? string.Empty)"/>
		<input type="submit" class="searchSubmit"  name="submit" value="Go" />
	</div>
    <div id="register"><a href="http://bellevuecollege.edu/enrollment/registration/register/">Register</a></div>
}

</div> <!-- #navbar   TODO: configurable? -->
<div class="clearer"></div>


