<div id="navcontainer">
<ul id="navlist">


<li  @if(ViewBag.YearQuarter == "all") { @(ViewBag.activeClass) }><a href="/Classes/All" id="current">All Credit Classes</a></li>
<li @if(ViewBag.YearQuarter == "Spring2011") { @(ViewBag.activeClass) }><a href="/Classes/Spring2011">Spring 2011</a></li>
<li @if(ViewBag.YearQuarter == "Summer2011") { @(ViewBag.activeClass) }><a href="/Classes/Summer2011">Summer 2011</a></li>
<li @if(ViewBag.YearQuarter == "Fall2011") { @(ViewBag.activeClass) }><a href="/Classes/Fall2011">Fall 2011</a></li>
<li><a href="http://bellevuecollege.edu/programs/continuing/">Continuing Education</a></li>
<li><a href="http://bellevuecollege.edu/careers/">Career Center</a></li>
</ul>
</div>