<div id="otherClassesMsg">

	<h2>Other classes and workshops:</h2>
	<a href="">Continuing Education classes (non-credit)</a>
	<p>Continuing Education offers non-credit classes and blah blah blah blah!
	</p>
	<a href="">Check out their classes</a>

	<a href="">Career Center classes and workshop</a>
	<p>The Career Center offers various classes, free workshops and orientations to help you blah blah blah</p>
	<a href="">Check out their classes and workshops</a>
</div>


<div id="thanksMsg">
	<h2>Thanks for using our Beta!</h2>
	<p><strong>We think you are going to love it.</strong>
		<ul>
			<li>Course information 24x7</li>
			<li>Up-to-the-second information</li>
			<li>Cleaner interface</li>
			<li>New features being planned and added frequently</li>
		</ul>

	</p>
	<h2>We need your feedback to make it better!</h2>
	<p>You can use the '<a href="">give us feedback</a>' option at the top-right
	corner of this website whenever you feel the need. Use it to report
	mispellings, awkward capitalization, errors, complaints, praises, whatever!</p>

</div>
