@model System.Web.Mvc.HandleErrorInfo
<!DOCTYPE html>

<html>
<head>
    <title>Oops, an error has occurred</title>
</head>
<body>
    <h2>Oops, an error has occurred</h2>
		<div>
        @if (Model != null)
				{
					<p><strong>Controller:</strong> @Model.ControllerName</p>
					<p><strong>Action:</strong> @Model.ActionName</p>
					<p>@Model.Exception.Message</p>
<!-- Exception stack trace ******************************************************************************************

@Model.Exception.ToString()

****************************************************************************************************************** -->
				}
				else
				{
					<p>Unfortunately, I didn't receive any details about the error :-(</p>
				}
    </div>
</body>
</html>
