<script type="text/javascript">
	var opts = {
		lines: 12, // The number of lines to draw
		length: 7, // The length of each line
		width: 5, // The line thickness
		radius: 10, // The radius of the inner circle
		color: '#000', // #rbg or #rrggbb
		speed: 1, // Rounds per second
		trail: 100, // Afterglow percentage
		shadow: true // Whether to render a shadow
	};
	var spinner = new Spinner(opts);

	$(document).ready(function () {
		$("div#nav-choose-subjects").dialog({
			autoOpen: false,
			height: 500,
			width: 600,
			modal: true,
			open: function () {
				// only show the spinner if we don't already have data in the dialog
				if ($("div#nav-choose-subjects").html() == '') {
					spinner.spin(document.getElementById('nav-choose-subjects'))
				}
			}
		})
	});
</script>

@{
	IDictionary<string, object> routeParms = new Dictionary<string, object>(Request.QueryString.Count + 2);
	routeParms.Add("format", string.Empty);
	routeParms.Add("yrq", ViewBag.YearQuarter);

	// TODO: move building the query string collection into the controller
	foreach(string key in Request.QueryString.AllKeys)
	{
		routeParms.Add(key, Request.QueryString[key]);
	}
}

<ul>
	<li>@Ajax.ActionLink("Change subject",
											 "Subjects",
											 "Api",
											 new RouteValueDictionary(routeParms),
											 new AjaxOptions
											 {
												 UpdateTargetId = "nav-choose-subjects",
												 HttpMethod = "GET",
												 InsertionMode = InsertionMode.Replace,
												 OnBegin = "$('#nav-choose-subjects').dialog('open');",
												 OnComplete = "spinner.stop();",
											 })
	</li>
</ul>
<div id="nav-choose-subjects"></div>
