<script type="text/javascript">
	$(document).ready(function () {
		$("#nav-choose-subjects").dialog({
			autoOpen: false,
			height: 500,
			width: 600,
			modal: true
		})
	});
</script>

<ul>
	<li>@Ajax.ActionLink("Choose subject",
											 "Subjects",
											 "Api",
											 new AjaxOptions
											 {
													UpdateTargetId = "nav-choose-subjects",
													HttpMethod="GET",
													InsertionMode = InsertionMode.InsertAfter,
													OnBegin = "$('#nav-choose-subjects').dialog('open');",
											 })
	</li>
</ul>
<div id="nav-choose-subjects"></div>