@using Ctc.Ods.Types


@{
	IDictionary<string, object> routeParms = new Dictionary<string, object>(Request.QueryString.Count + 2);
	routeParms.Add("format", string.Empty);
	routeParms.Add("YearQuarter", ViewBag.YearQuarter != null ? (ViewBag.YearQuarter as YearQuarter).FriendlyName.Replace(" ","") : "All");

	// TODO: move building the query string collection into the controller
	foreach(string key in Request.QueryString.AllKeys)
	{
		if (!routeParms.Keys.Contains(key))
		{
			routeParms.Add(key, Request.QueryString[key]);
		}
		else
		{
			routeParms[key] = Request.QueryString[key];
		}
	}
    string href_link = @Url.Action("Subjects", "Api", routeParms);
}





    @Ajax.ActionLink("Change subject",
                            "YearQuarter",
							"Classes",
							new RouteValueDictionary(routeParms),
							new AjaxOptions
							{
								UpdateTargetId = "nav-choose-subjects",
								HttpMethod = "POST",
								InsertionMode = InsertionMode.Replace,
								OnBegin = "$('#nav-choose-subjects').dialog('open');"
							},
                                  new { id = "change_subject", style = "color:red;" }
                            )


<div id="nav-choose-subjects" title="Select new course subject"></div>
<input type="hidden" id="javascriptEnabled" value="0"/>



<script type="text/javascript">
    /* "processing" spinner */
    var opts = {
        lines: 12, // The number of lines to draw
        length: 7, // The length of each line
        width: 5, // The line thickness
        radius: 10, // The radius of the inner circle
        color: '#000', // #rbg or #rrggbb
        speed: 1, // Rounds per second
        trail: 100, // Afterglow percentage
        shadow: true // Whether to render a shadow
    };
    var spinner = new Spinner(opts);

    /* subject chooser pop-up dialog */
    $(document).ready(function () {
        var href_value = "@href_link";
        $("#change_subject").attr('href', href_value);


        $("div#nav-choose-subjects").dialog({
            autoOpen: false,
            height: 500,
            width: 600,
            modal: true,
            resizable: false,
            open: function () {
                // only show the spinner if we don't already have data in the dialog
                if ($("div#nav-choose-subjects").html() == '') {
                    spinner.spin(document.getElementById('nav-choose-subjects'));
                }
            }
        })

    });
</script>